{% load staticfiles %}
{% load i18n %}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ SITE_NAME }} - {% block page_title %}{% endblock page_title %}</title>
    
    {% include 'bundles/bootstrap-css.html' %}
    {% include 'bundles/fontawesome.html' %}

    <style>
        body {
            background: url('{% static 'img/index_images/index_blank_bg.jpg' %}') no-repeat scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .panel-transparent {
            background: rgba(48, 48, 48, 0.7);
            color: #ffffff;
        }

        .panel-body {

        }
    </style>
</head>
<body>
{% block content %}
{% endblock content %}
{% include 'bundles/bootstrap-js.html' %}
</body>
</html>
