{"swagger": "2.0", "info": {"title": "EVE Swagger Interface", "description": "An OpenAPI for EVE Online", "version": "0.8.0"}, "host": "esi.tech.ccp.is", "schemes": ["https"], "produces": ["application/json"], "securityDefinitions": {"evesso": {"type": "oauth2", "authorizationUrl": "https://login.eveonline.com/oauth/authorize", "flow": "implicit", "scopes": {"esi-alliances.read_contacts.v1": "EVE SSO scope esi-alliances.read_contacts.v1", "esi-assets.read_assets.v1": "EVE SSO scope esi-assets.read_assets.v1", "esi-assets.read_corporation_assets.v1": "EVE SSO scope esi-assets.read_corporation_assets.v1", "esi-bookmarks.read_character_bookmarks.v1": "EVE SSO scope esi-bookmarks.read_character_bookmarks.v1", "esi-bookmarks.read_corporation_bookmarks.v1": "EVE SSO scope esi-bookmarks.read_corporation_bookmarks.v1", "esi-calendar.read_calendar_events.v1": "EVE SSO scope esi-calendar.read_calendar_events.v1", "esi-calendar.respond_calendar_events.v1": "EVE SSO scope esi-calendar.respond_calendar_events.v1", "esi-characters.read_agents_research.v1": "EVE SSO scope esi-characters.read_agents_research.v1", "esi-characters.read_blueprints.v1": "EVE SSO scope esi-characters.read_blueprints.v1", "esi-characters.read_chat_channels.v1": "EVE SSO scope esi-characters.read_chat_channels.v1", "esi-characters.read_contacts.v1": "EVE SSO scope esi-characters.read_contacts.v1", "esi-characters.read_corporation_roles.v1": "EVE SSO scope esi-characters.read_corporation_roles.v1", "esi-characters.read_fatigue.v1": "EVE SSO scope esi-characters.read_fatigue.v1", "esi-characters.read_fw_stats.v1": "EVE SSO scope esi-characters.read_fw_stats.v1", "esi-characters.read_loyalty.v1": "EVE SSO scope esi-characters.read_loyalty.v1", "esi-characters.read_medals.v1": "EVE SSO scope esi-characters.read_medals.v1", "esi-characters.read_notifications.v1": "EVE SSO scope esi-characters.read_notifications.v1", "esi-characters.read_opportunities.v1": "EVE SSO scope esi-characters.read_opportunities.v1", "esi-characters.read_standings.v1": "EVE SSO scope esi-characters.read_standings.v1", "esi-characters.read_titles.v1": "EVE SSO scope esi-characters.read_titles.v1", "esi-characters.write_contacts.v1": "EVE SSO scope esi-characters.write_contacts.v1", "esi-characterstats.read.v1": "EVE SSO scope esi-characterstats.read.v1", "esi-clones.read_clones.v1": "EVE SSO scope esi-clones.read_clones.v1", "esi-clones.read_implants.v1": "EVE SSO scope esi-clones.read_implants.v1", "esi-contracts.read_character_contracts.v1": "EVE SSO scope esi-contracts.read_character_contracts.v1", "esi-contracts.read_corporation_contracts.v1": "EVE SSO scope esi-contracts.read_corporation_contracts.v1", "esi-corporations.read_blueprints.v1": "EVE SSO scope esi-corporations.read_blueprints.v1", "esi-corporations.read_contacts.v1": "EVE SSO scope esi-corporations.read_contacts.v1", "esi-corporations.read_container_logs.v1": "EVE SSO scope esi-corporations.read_container_logs.v1", "esi-corporations.read_corporation_membership.v1": "EVE SSO scope esi-corporations.read_corporation_membership.v1", "esi-corporations.read_divisions.v1": "EVE SSO scope esi-corporations.read_divisions.v1", "esi-corporations.read_facilities.v1": "EVE SSO scope esi-corporations.read_facilities.v1", "esi-corporations.read_fw_stats.v1": "EVE SSO scope esi-corporations.read_fw_stats.v1", "esi-corporations.read_medals.v1": "EVE SSO scope esi-corporations.read_medals.v1", "esi-corporations.read_outposts.v1": "EVE SSO scope esi-corporations.read_outposts.v1", "esi-corporations.read_standings.v1": "EVE SSO scope esi-corporations.read_standings.v1", "esi-corporations.read_starbases.v1": "EVE SSO scope esi-corporations.read_starbases.v1", "esi-corporations.read_structures.v1": "EVE SSO scope esi-corporations.read_structures.v1", "esi-corporations.read_titles.v1": "EVE SSO scope esi-corporations.read_titles.v1", "esi-corporations.track_members.v1": "EVE SSO scope esi-corporations.track_members.v1", "esi-fittings.read_fittings.v1": "EVE SSO scope esi-fittings.read_fittings.v1", "esi-fittings.write_fittings.v1": "EVE SSO scope esi-fittings.write_fittings.v1", "esi-fleets.read_fleet.v1": "EVE SSO scope esi-fleets.read_fleet.v1", "esi-fleets.write_fleet.v1": "EVE SSO scope esi-fleets.write_fleet.v1", "esi-industry.read_character_jobs.v1": "EVE SSO scope esi-industry.read_character_jobs.v1", "esi-industry.read_character_mining.v1": "EVE SSO scope esi-industry.read_character_mining.v1", "esi-industry.read_corporation_jobs.v1": "EVE SSO scope esi-industry.read_corporation_jobs.v1", "esi-industry.read_corporation_mining.v1": "EVE SSO scope esi-industry.read_corporation_mining.v1", "esi-killmails.read_corporation_killmails.v1": "EVE SSO scope esi-killmails.read_corporation_killmails.v1", "esi-killmails.read_killmails.v1": "EVE SSO scope esi-killmails.read_killmails.v1", "esi-location.read_location.v1": "EVE SSO scope esi-location.read_location.v1", "esi-location.read_online.v1": "EVE SSO scope esi-location.read_online.v1", "esi-location.read_ship_type.v1": "EVE SSO scope esi-location.read_ship_type.v1", "esi-mail.organize_mail.v1": "EVE SSO scope esi-mail.organize_mail.v1", "esi-mail.read_mail.v1": "EVE SSO scope esi-mail.read_mail.v1", "esi-mail.send_mail.v1": "EVE SSO scope esi-mail.send_mail.v1", "esi-markets.read_character_orders.v1": "EVE SSO scope esi-markets.read_character_orders.v1", "esi-markets.read_corporation_orders.v1": "EVE SSO scope esi-markets.read_corporation_orders.v1", "esi-markets.structure_markets.v1": "EVE SSO scope esi-markets.structure_markets.v1", "esi-planets.manage_planets.v1": "EVE SSO scope esi-planets.manage_planets.v1", "esi-planets.read_customs_offices.v1": "EVE SSO scope esi-planets.read_customs_offices.v1", "esi-search.search_structures.v1": "EVE SSO scope esi-search.search_structures.v1", "esi-skills.read_skillqueue.v1": "EVE SSO scope esi-skills.read_skillqueue.v1", "esi-skills.read_skills.v1": "EVE SSO scope esi-skills.read_skills.v1", "esi-ui.open_window.v1": "EVE SSO scope esi-ui.open_window.v1", "esi-ui.write_waypoint.v1": "EVE SSO scope esi-ui.write_waypoint.v1", "esi-universe.read_structures.v1": "EVE SSO scope esi-universe.read_structures.v1", "esi-wallet.read_character_wallet.v1": "EVE SSO scope esi-wallet.read_character_wallet.v1", "esi-wallet.read_corporation_wallets.v1": "EVE SSO scope esi-wallet.read_corporation_wallets.v1"}}}, "parameters": {"datasource": {"name": "datasource", "description": "The server name you would like data from", "in": "query", "type": "string", "default": "tranquility", "enum": ["tranquility", "singularity"]}, "user_agent": {"name": "user_agent", "description": "Client identifier, takes precedence over headers", "in": "query", "type": "string"}, "X-User-Agent": {"name": "X-User-Agent", "description": "Client identifier, takes precedence over User-Agent", "in": "header", "type": "string"}, "page": {"name": "page", "description": "Which page of results to return", "in": "query", "type": "integer", "format": "int32", "default": 1}, "token": {"name": "token", "description": "Access token to use if unable to set a header", "in": "query", "type": "string"}, "character_id": {"description": "An EVE character ID", "format": "int32", "in": "path", "minimum": 1, "name": "character_id", "required": true, "type": "integer"}, "corporation_id": {"description": "An EVE corporation ID", "format": "int32", "in": "path", "minimum": 1, "name": "corporation_id", "required": true, "type": "integer"}, "language": {"name": "language", "description": "Language to use in the response", "in": "query", "type": "string", "default": "en-us", "enum": ["de", "en-us", "fr", "ja", "ru", "zh"]}, "alliance_id": {"description": "An EVE alliance ID", "format": "int32", "in": "path", "minimum": 1, "name": "alliance_id", "required": true, "type": "integer"}}, "definitions": {"unauthorized": {"type": "object", "description": "Unauthorized model", "title": "Unauthorized", "required": ["error"], "properties": {"error": {"type": "string", "description": "Unauthorized message"}}, "x-model": "Unauthorized"}, "forbidden": {"type": "object", "description": "Forbidden model", "title": "Forbidden", "required": ["error"], "properties": {"error": {"type": "string", "description": "Forbidden message"}, "sso_status": {"type": "integer", "description": "Status code received from SSO"}}, "x-model": "Forbidden"}, "bad_request": {"type": "object", "description": "Bad request model", "title": "Bad request", "required": ["error"], "properties": {"error": {"type": "string", "description": "Bad request message"}}, "x-model": "Bad request"}, "internal_server_error": {"type": "object", "description": "Internal server error model", "title": "Internal server error", "required": ["error"], "properties": {"error": {"type": "string", "description": "Internal server error message"}}, "x-model": "Internal server error"}, "bad_gateway": {"type": "object", "description": "Bad gateway model", "title": "Bad gateway", "required": ["error"], "properties": {"error": {"type": "string", "description": "Bad gateway message"}}, "x-model": "Bad gateway"}, "service_unavailable": {"type": "object", "description": "Service unavailable model", "title": "Service unavailable", "required": ["error"], "properties": {"error": {"type": "string", "description": "Service unavailable message"}}, "x-model": "Service unavailable"}}, "paths": {"/v1/characters/{character_id}/location/": {"get": {"description": "Information about the characters current location. Returns the current solar system id, and also the current station or structure ID if applicable.\n\n---\n\nThis route is cached for up to 5 seconds", "summary": "Get character location", "tags": ["Location"], "parameters": [{"$ref": "#/parameters/character_id", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/datasource", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/token", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/user_agent", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/X-User-Agent", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}], "responses": {"200": {"description": "Information about the characters current location. Returns the current solar system id, and also the current station or structure ID if applicable.", "examples": {"application/json": {"solar_system_id": 30002505, "structure_id": 1000000016989}}, "schema": {"type": "object", "required": ["solar_system_id"], "properties": {"solar_system_id": {"type": "integer", "format": "int32", "title": "get_characters_character_id_location_solar_system_id", "description": "solar_system_id integer"}, "station_id": {"type": "integer", "format": "int32", "title": "get_characters_character_id_location_station_id", "description": "station_id integer"}, "structure_id": {"type": "integer", "format": "int64", "title": "get_characters_character_id_location_structure_id", "description": "structure_id integer"}}, "title": "get_characters_character_id_location_ok", "description": "200 ok object", "x-model": "get_characters_character_id_location_ok"}, "headers": {"Cache-Control": {"description": "The caching mechanism used", "type": "string"}, "Last-Modified": {"description": "RFC7231 formatted datetime string", "type": "string"}, "Expires": {"description": "RFC7231 formatted datetime string", "type": "string"}}}, "401": {"description": "Unauthorized", "schema": {"$ref": "#/definitions/unauthorized", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Unauthorized message"}}}, "403": {"description": "Forbidden", "schema": {"$ref": "#/definitions/forbidden", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Forbidden message"}}}, "400": {"description": "Bad request", "schema": {"$ref": "#/definitions/bad_request", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Bad request message"}}}, "500": {"description": "Internal server error", "schema": {"$ref": "#/definitions/internal_server_error", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Internal server error message"}}}, "502": {"description": "Bad gateway", "schema": {"$ref": "#/definitions/bad_gateway", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Bad gateway message"}}}, "503": {"description": "Service unavailable", "schema": {"$ref": "#/definitions/service_unavailable", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Service unavailable message"}}}}, "security": [{"evesso": ["esi-location.read_location.v1"]}], "operationId": "get_characters_character_id_location", "x-cached-seconds": 5, "x-alternate-versions": ["dev", "legacy", "v1"]}}, "/v1/characters/{character_id}/ship/": {"get": {"description": "Get the current ship type, name and id\n\n---\n\nThis route is cached for up to 5 seconds", "summary": "Get current ship", "tags": ["Location"], "parameters": [{"$ref": "#/parameters/character_id", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/datasource", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/token", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/user_agent", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/X-User-Agent", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}], "responses": {"200": {"description": "Get the current ship type, name and id", "examples": {"application/json": {"ship_type_id": 1233, "ship_name": "SPACESHIPS!!!", "ship_item_id": 1000000016991}}, "schema": {"type": "object", "required": ["ship_type_id", "ship_item_id", "ship_name"], "properties": {"ship_type_id": {"type": "integer", "format": "int32", "title": "get_characters_character_id_ship_ship_type_id", "description": "ship_type_id integer"}, "ship_item_id": {"type": "integer", "format": "int64", "description": "Item id's are unique to a ship and persist until it is repackaged. This value can be used to track repeated uses of a ship, or detect when a pilot changes into a different instance of the same ship type.", "title": "get_characters_character_id_ship_ship_item_id"}, "ship_name": {"type": "string", "title": "get_characters_character_id_ship_ship_name", "description": "ship_name string"}}, "title": "get_characters_character_id_ship_ok", "description": "200 ok object", "x-model": "get_characters_character_id_ship_ok"}, "headers": {"Cache-Control": {"description": "The caching mechanism used", "type": "string"}, "Last-Modified": {"description": "RFC7231 formatted datetime string", "type": "string"}, "Expires": {"description": "RFC7231 formatted datetime string", "type": "string"}}}, "401": {"description": "Unauthorized", "schema": {"$ref": "#/definitions/unauthorized", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Unauthorized message"}}}, "403": {"description": "Forbidden", "schema": {"$ref": "#/definitions/forbidden", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Forbidden message"}}}, "400": {"description": "Bad request", "schema": {"$ref": "#/definitions/bad_request", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Bad request message"}}}, "500": {"description": "Internal server error", "schema": {"$ref": "#/definitions/internal_server_error", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Internal server error message"}}}, "502": {"description": "Bad gateway", "schema": {"$ref": "#/definitions/bad_gateway", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Bad gateway message"}}}, "503": {"description": "Service unavailable", "schema": {"$ref": "#/definitions/service_unavailable", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Service unavailable message"}}}}, "security": [{"evesso": ["esi-location.read_ship_type.v1"]}], "operationId": "get_characters_character_id_ship", "x-cached-seconds": 5, "x-alternate-versions": ["dev", "legacy", "v1"]}}, "/v2/universe/stations/{station_id}/": {"get": {"description": "Get information on a station\n\n---\n\nThis route is cached for up to 300 seconds", "summary": "Get station information", "tags": ["Universe"], "parameters": [{"$ref": "#/parameters/datasource", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"name": "station_id", "in": "path", "required": true, "type": "integer", "format": "int32", "description": "station_id integer"}, {"$ref": "#/parameters/user_agent", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/X-User-Agent", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}], "responses": {"200": {"description": "Information about a station", "examples": {"application/json": {"station_id": 60000277, "name": "Jakanerva III - Moon 15 - Prompt Delivery Storage", "type_id": 1531, "position": {"x": 165632286720, "y": 2771804160, "z": -2455331266560}, "system_id": 30000148, "reprocessing_efficiency": 0.5, "reprocessing_stations_take": 0.05, "max_dockable_ship_volume": 50000000, "office_rental_cost": 10000, "services": ["courier-missions", "reprocessing-plant", "market", "repair-facilities", "fitting", "news", "storage", "insurance", "docking", "office-rental", "loyalty-point-store", "navy-offices"], "owner": 1000003, "race_id": 1}}, "schema": {"type": "object", "required": ["station_id", "name", "type_id", "position", "system_id", "reprocessing_efficiency", "reprocessing_stations_take", "max_dockable_ship_volume", "office_rental_cost", "services"], "properties": {"station_id": {"type": "integer", "format": "int32", "title": "get_universe_stations_station_id_station_id", "description": "station_id integer"}, "name": {"type": "string", "title": "get_universe_stations_station_id_name", "description": "name string"}, "owner": {"type": "integer", "format": "int32", "description": "ID of the corporation that controls this station", "title": "get_universe_stations_station_id_owner"}, "type_id": {"type": "integer", "format": "int32", "title": "get_universe_stations_station_id_type_id", "description": "type_id integer"}, "race_id": {"type": "integer", "format": "int32", "title": "get_universe_stations_station_id_race_id", "description": "race_id integer"}, "position": {"type": "object", "required": ["x", "y", "z"], "properties": {"x": {"type": "number", "format": "double", "title": "get_universe_stations_station_id_x", "description": "x number"}, "y": {"type": "number", "format": "double", "title": "get_universe_stations_station_id_y", "description": "y number"}, "z": {"type": "number", "format": "double", "title": "get_universe_stations_station_id_z", "description": "z number"}}, "title": "get_universe_stations_station_id_position", "description": "position object", "x-model": "get_universe_stations_station_id_position"}, "system_id": {"type": "integer", "format": "int32", "description": "The solar system this station is in", "title": "get_universe_stations_station_id_system_id"}, "reprocessing_efficiency": {"type": "number", "format": "float", "title": "get_universe_stations_station_id_reprocessing_efficiency", "description": "reprocessing_efficiency number"}, "reprocessing_stations_take": {"type": "number", "format": "float", "title": "get_universe_stations_station_id_reprocessing_stations_take", "description": "reprocessing_stations_take number"}, "max_dockable_ship_volume": {"type": "number", "format": "float", "title": "get_universe_stations_station_id_max_dockable_ship_volume", "description": "max_dockable_ship_volume number"}, "office_rental_cost": {"type": "number", "format": "float", "title": "get_universe_stations_station_id_office_rental_cost", "description": "office_rental_cost number"}, "services": {"type": "array", "maxItems": 30, "items": {"type": "string", "enum": ["bounty-missions", "assasination-missions", "courier-missions", "interbus", "reprocessing-plant", "refinery", "market", "black-market", "stock-exchange", "cloning", "surgery", "dna-therapy", "repair-facilities", "factory", "labratory", "gambling", "fitting", "paintshop", "news", "storage", "insurance", "docking", "office-rental", "jump-clone-facility", "loyalty-point-store", "navy-offices", "security-offices"], "title": "get_universe_stations_station_id_service", "description": "service string"}, "title": "get_universe_stations_station_id_services", "description": "services array"}}, "title": "get_universe_stations_station_id_ok", "description": "200 ok object", "x-model": "get_universe_stations_station_id_ok"}, "headers": {"Cache-Control": {"description": "The caching mechanism used", "type": "string"}, "Last-Modified": {"description": "RFC7231 formatted datetime string", "type": "string"}, "Expires": {"description": "RFC7231 formatted datetime string", "type": "string"}}}, "404": {"description": "Station not found", "schema": {"type": "object", "title": "get_universe_stations_station_id_not_found", "description": "Not found", "properties": {"error": {"type": "string", "description": "Not found message", "title": "get_universe_stations_station_id_404_not_found"}}, "x-model": "get_universe_stations_station_id_not_found"}, "examples": {"application/json": {"error": "Not found message"}}}, "400": {"description": "Bad request", "schema": {"$ref": "#/definitions/bad_request", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Bad request message"}}}, "500": {"description": "Internal server error", "schema": {"$ref": "#/definitions/internal_server_error", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Internal server error message"}}}, "502": {"description": "Bad gateway", "schema": {"$ref": "#/definitions/bad_gateway", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Bad gateway message"}}}, "503": {"description": "Service unavailable", "schema": {"$ref": "#/definitions/service_unavailable", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Service unavailable message"}}}}, "operationId": "get_universe_stations_station_id", "x-cached-seconds": 300, "x-alternate-versions": ["dev", "v2"]}}, "/v1/universe/structures/{structure_id}/": {"get": {"description": "Returns information on requested structure, if you are on the ACL. Otherwise, returns \"Forbidden\" for all inputs.\n\n---\n\nThis route is cached for up to 3600 seconds", "summary": "Get structure information", "tags": ["Universe"], "parameters": [{"$ref": "#/parameters/datasource", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"name": "structure_id", "in": "path", "description": "An Eve structure ID", "required": true, "type": "integer", "format": "int64"}, {"$ref": "#/parameters/token", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/user_agent", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/X-User-Agent", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}], "responses": {"200": {"description": "Data about a structure", "examples": {"application/json": {"name": "V-3YG7 VI - The Capital", "solar_system_id": 30000142}}, "schema": {"type": "object", "required": ["name", "solar_system_id"], "properties": {"name": {"type": "string", "description": "The full name of the structure", "title": "get_universe_structures_structure_id_name"}, "solar_system_id": {"type": "integer", "format": "int32", "title": "get_universe_structures_structure_id_solar_system_id", "description": "solar_system_id integer"}, "type_id": {"type": "integer", "format": "int32", "title": "get_universe_structures_structure_id_type_id", "description": "type_id integer"}, "position": {"type": "object", "description": "Coordinates of the structure in Cartesian space relative to the Sun, in metres.\n", "required": ["x", "y", "z"], "properties": {"x": {"type": "number", "format": "double", "title": "get_universe_structures_structure_id_x", "description": "x number"}, "y": {"type": "number", "format": "double", "title": "get_universe_structures_structure_id_y", "description": "y number"}, "z": {"type": "number", "format": "double", "title": "get_universe_structures_structure_id_z", "description": "z number"}}, "title": "get_universe_structures_structure_id_position", "x-model": "get_universe_structures_structure_id_position"}}, "title": "get_universe_structures_structure_id_ok", "description": "200 ok object", "x-model": "get_universe_structures_structure_id_ok"}, "headers": {"Cache-Control": {"description": "The caching mechanism used", "type": "string"}, "Last-Modified": {"description": "RFC7231 formatted datetime string", "type": "string"}, "Expires": {"description": "RFC7231 formatted datetime string", "type": "string"}}}, "404": {"description": "Structure not found", "schema": {"type": "object", "title": "get_universe_structures_structure_id_not_found", "description": "Not found", "properties": {"error": {"type": "string", "description": "Not found message", "title": "get_universe_structures_structure_id_404_not_found"}}, "x-model": "get_universe_structures_structure_id_not_found"}, "examples": {"application/json": {"error": "Not found message"}}}, "401": {"description": "Unauthorized", "schema": {"$ref": "#/definitions/unauthorized", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Unauthorized message"}}}, "403": {"description": "Forbidden", "schema": {"$ref": "#/definitions/forbidden", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Forbidden message"}}}, "400": {"description": "Bad request", "schema": {"$ref": "#/definitions/bad_request", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Bad request message"}}}, "500": {"description": "Internal server error", "schema": {"$ref": "#/definitions/internal_server_error", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Internal server error message"}}}, "502": {"description": "Bad gateway", "schema": {"$ref": "#/definitions/bad_gateway", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Bad gateway message"}}}, "503": {"description": "Service unavailable", "schema": {"$ref": "#/definitions/service_unavailable", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Service unavailable message"}}}}, "security": [{"evesso": ["esi-universe.read_structures.v1"]}], "operationId": "get_universe_structures_structure_id", "x-cached-seconds": 3600, "x-alternate-versions": ["dev", "legacy", "v1"]}}, "/v3/universe/systems/{system_id}/": {"get": {"description": "Get information on a solar system\n\n---\n\nThis route expires daily at 11:05", "summary": "Get solar system information", "tags": ["Universe"], "parameters": [{"$ref": "#/parameters/datasource", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/language", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"name": "system_id", "in": "path", "required": true, "type": "integer", "format": "int32", "description": "system_id integer"}, {"$ref": "#/parameters/user_agent", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/X-User-Agent", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}], "responses": {"200": {"description": "Information about a solar system", "examples": {"application/json": {"system_id": 30000003, "name": "Akpivem", "position": {"x": -91174141133075340, "y": 43938227486247170, "z": -56482824383339900}, "security_status": 0.8462923765, "constellation_id": 20000001, "planets": [{"planet_id": 40000041, "moons": [40000042]}, {"planet_id": 40000043}], "stargates": [50000342], "star_id": 40000040, "security_class": "B"}}, "schema": {"type": "object", "required": ["star_id", "system_id", "name", "position", "security_status", "constellation_id", "planets"], "properties": {"star_id": {"type": "integer", "format": "int32", "title": "get_universe_systems_system_id_star_id", "description": "star_id integer"}, "system_id": {"type": "integer", "format": "int32", "title": "get_universe_systems_system_id_system_id", "description": "system_id integer"}, "name": {"type": "string", "title": "get_universe_systems_system_id_name", "description": "name string"}, "position": {"type": "object", "required": ["x", "y", "z"], "properties": {"x": {"type": "number", "format": "double", "title": "get_universe_systems_system_id_x", "description": "x number"}, "y": {"type": "number", "format": "double", "title": "get_universe_systems_system_id_y", "description": "y number"}, "z": {"type": "number", "format": "double", "title": "get_universe_systems_system_id_z", "description": "z number"}}, "title": "get_universe_systems_system_id_position", "description": "position object", "x-model": "get_universe_systems_system_id_position"}, "security_status": {"type": "number", "format": "float", "title": "get_universe_systems_system_id_security_status", "description": "security_status number"}, "security_class": {"type": "string", "title": "get_universe_systems_system_id_security_class", "description": "security_class string"}, "constellation_id": {"type": "integer", "format": "int32", "description": "The constellation this solar system is in", "title": "get_universe_systems_system_id_constellation_id"}, "planets": {"type": "array", "maxItems": 1000, "items": {"type": "object", "required": ["planet_id"], "properties": {"planet_id": {"type": "integer", "format": "int32", "title": "get_universe_systems_system_id_planet_id", "description": "planet_id integer"}, "moons": {"type": "array", "maxItems": 1000, "items": {"type": "integer", "format": "int32", "title": "get_universe_systems_system_id_moon", "description": "moon integer"}, "title": "get_universe_systems_system_id_moons", "description": "moons array"}, "asteroid_belts": {"type": "array", "maxItems": 100, "items": {"type": "integer", "format": "int32", "title": "get_universe_systems_system_id_asteroid_belt", "description": "asteroid_belt integer"}, "title": "get_universe_systems_system_id_asteroid_belts", "description": "asteroid_belts array"}}, "title": "get_universe_systems_system_id_planet", "description": "planet object", "x-model": "get_universe_systems_system_id_planet"}, "title": "get_universe_systems_system_id_planets", "description": "planets array"}, "stargates": {"type": "array", "maxItems": 25, "items": {"type": "integer", "format": "int32", "title": "get_universe_systems_system_id_stargate", "description": "stargate integer"}, "title": "get_universe_systems_system_id_stargates", "description": "stargates array"}, "stations": {"type": "array", "maxItems": 25, "items": {"type": "integer", "format": "int32", "title": "get_universe_systems_system_id_station", "description": "station integer"}, "title": "get_universe_systems_system_id_stations", "description": "stations array"}}, "title": "get_universe_systems_system_id_ok", "description": "200 ok object", "x-model": "get_universe_systems_system_id_ok"}, "headers": {"Content-Language": {"description": "The language used in the response", "type": "string", "enum": ["de", "en-us", "fr", "ja", "ru", "zh"]}, "Cache-Control": {"description": "The caching mechanism used", "type": "string"}, "Last-Modified": {"description": "RFC7231 formatted datetime string", "type": "string"}, "Expires": {"description": "RFC7231 formatted datetime string", "type": "string"}}}, "404": {"description": "Solar system not found", "schema": {"type": "object", "title": "get_universe_systems_system_id_not_found", "description": "Not found", "properties": {"error": {"type": "string", "description": "Not found message", "title": "get_universe_systems_system_id_404_not_found"}}, "x-model": "get_universe_systems_system_id_not_found"}, "examples": {"application/json": {"error": "Not found message"}}}, "400": {"description": "Bad request", "schema": {"$ref": "#/definitions/bad_request", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Bad request message"}}}, "500": {"description": "Internal server error", "schema": {"$ref": "#/definitions/internal_server_error", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Internal server error message"}}}, "502": {"description": "Bad gateway", "schema": {"$ref": "#/definitions/bad_gateway", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Bad gateway message"}}}, "503": {"description": "Service unavailable", "schema": {"$ref": "#/definitions/service_unavailable", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Service unavailable message"}}}}, "operationId": "get_universe_systems_system_id", "x-alternate-versions": ["dev", "v3"]}}}}