# Python Stuff # - see bootstrap.sh
mysql-python
evelink
dnspython
passlib
xmpppy==0.5.0rc1
python-openfire-0.2.3-beta

# Django Stuff #
django==1.6.1
django-evolution
django-bootstrap-form
django-celery

# Needed Apps
bcrypt
