# Python Stuff # - see bootstrap.sh
mysqlclient
evelink
dnspython
passlib
requests>=2.9.1
bcrypt
python-slugify>=1.2
requests-oauthlib
sleekxmpp
redis
celery>=4.0.2

# Django Stuff #
django>=1.10,<2.0
django-bootstrap-form
django-navhelper
django-bootstrap-pagination
django-redis-cache>=1.7.1
django-recaptcha
django-celery-beat

# awating pyghassen/openfire-restapi #1 to fix installation issues
git+https://github.com/adarnof/openfire-restapi

adarnauth-esi>=1.4.1,<2.0
