{% load static %}
{% load i18n %}
{% load navactive %}
{% load menu_items %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% block page_title %}{% endblock page_title %} - Alliance Auth{% endblock title %}</title>

    {% include 'bundles/bootstrap-css.html' %}
    {% include 'bundles/fontawesome.html' %}

    <link href="{% static 'css/auth-base.css' %}" type="text/css" rel="stylesheet">
    {% block extra_css %}{% endblock extra_css %}
</head>

<body>
{% if user.is_authenticated %}
    <div id="wrapper" class="container">
        <!-- Navigation -->
        <nav class="navbar navbar-static-top navbar-inverse auth-navbar-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".auth-menus-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">
                        {{ SITE_NAME }}
                    </a>
                </div>
                <div class="collapse navbar-collapse auth-menus-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if notifications %}
                            <li>
                                <a href="{% url 'notifications:list' %}">
                                <span class="fa-stack">
                                    <i class="fa fa-bell fa-stack-2x notification-bell-color"></i>
                                    <i class="fa fa-inverse fa-stack-1x">{{ notifications }}</i>
                                </span>
                                </a>
                            </li>
                        {% else %}
                            <li><a href="{% url 'notifications:list' %}">
                                <i class="fa fa-bell-o"></i></a>
                            </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            {% if user.is_staff %}
                                <li><a href="{% url 'admin:index' %}">{% trans "Admin" %}</a></li>
                            {% endif %}
                            <li><a href="{% url 'auth_logout' %}">{% trans "Logout" %}</a></li>
                        {% else %}
                            <li><a href="{% url 'authentication:login' %}">{% trans "Login" %}</a></li>
                        {% endif %}
                    </ul>
                    <form id="f-lang-select" class="navbar-form navbar-right" action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}"/>
                        <div class="form-group">
                            <select onchange="this.form.submit()" class="form-control" id="lang-select" name="language">
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                            selected="selected"{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        <div class="row" id="site-body-wrapper">
            <div class="col-sm-2 auth-side-navbar" role="navigation">
                <div class="collapse navbar-collapse auth-menus-collapse auth-side-navbar-collapse">
                    <ul class="nav nav-pills nav-stacked gray-icon-color" id="side-menu">
                        <li>
                            <a class="{% navactive request 'authentication:dashboard' %}"
                               href="{% url 'authentication:dashboard' %}">
                                <i class="fa fa-dashboard fa-fw"></i>{% trans " Dashboard" %}
                            </a>
                        </li>
                        <li>
                            <a class="{% navactive request 'groupmanagement:groups' %}" href="{% url 'groupmanagement:groups' %}">
                                <i class="fa fa-cogs fa-fw fa-sitemap"></i>{% trans " Groups" %}
                            </a>
                        </li>

                        {% if can_manage_groups %}
                            <li>
                                <a class="{% navactive request 'groupmanagement:management groupmanagement:membership groupmanagement:membership_list' %}"
                                   href="{% url 'groupmanagement:management' %}">
                                    <i class="fa fa-lock fa-sitemap fa-fw"></i>{% trans " Group Management" %}
                                </a>
                            </li>
                        {% endif %}

                        {% menu_items %}

                        <li>
                            <a class="{% navactive request 'authentication:help' %}"
                               href="{% url 'authentication:help' %}">
                                <i class="fa fa-question fa-fw"></i>{% trans " Help" %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-10">
                {% if messages %}
                    <br>
                    {% for message in messages %}
                        <div class="alert alert-{{ message.level_tag }}">{{ message }}</div>
                        {% if not forloop.last %}
                            <br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                    {% block content %}
                    {% endblock content %}
            </div>
        <div class="clearfix"></div>
        </div>
    </div>
{% endif %}
{% include 'bundles/bootstrap-js.html' %}
{% block extra_javascript %}
{% endblock extra_javascript %}
<script>
    {% block extra_script %}
    {% endblock extra_script %}
</script>
</body>
</html>
