{% extends "public/base.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}Alliance Auth{% endblock %}

{% block page_title %}Something something here{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}
<div class="col-lg-12">
    <div class="row">
        {% if apikeypairs %}
        {% else %}
            <div class="alert alert-danger" role="alert">No api keys found</div>
        {% endif %}
        <h1 class="page-header text-center">API Key Management
            <div class="text-right">
                <a href="{% url 'auth_add_api_key' %}">
                    <button type="button" class="btn btn-success">Add Key</button>
                </a>
            </div>
        </h1>
        <table class="table table-bordered">
            <tr>
                <th class="text-center">API ID</th>
                <th class="text-center">API Key</th>
                <th class="text-center">Action</th>
            </tr>
            {% for pair in apikeypairs %}
            <tr>
                <td class="text-center">{{ pair.api_id }}</td>
                <td class="text-center">{{ pair.api_key }}</td>
                <td class="text-center">
                <a href="/delete_api_pair/{{ pair.api_id }}">
                    <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock content %}
