{% extends "public/base.html" %}
{% load staticfiles %}

{% block title %}Alliance Auth{% endblock %}

{% block page_title %}Something something here{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    {% for character in characters %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
         <div class="well well-sm profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h3>{{character.character_name}}</h3>
                    <p><strong>Corporation: </strong>{{character.corporation_name}}</p>
                    <p><strong>Alliance: </strong> {{character.alliance_name}} </p>
                </div>             
                <div class="col-xs-8 col-sm-4 text-center">
                    <figure>
                        <img src="https://image.eveonline.com/Character/{{character.character_id}}_128.jpg" alt="" class="img-responsive">
                    </figure>
                </div>
            </div>
             <div class="col-md-offset-8">
                <a href="/main_character_change/{{character.character_id}}"><button type="button" class="btn btn-primary">Make Primary</button></a>
             </div>
          </div>                 
        </div>
    </div>
        {% endfor %}
</div>

{% endblock content %}
