{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Empty title{% endblock title %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock extra_css %}
    <style>
        .grayiconecolor {
            color: #505050;
        }
    </style>
</head>

<body>
{% if user.is_authenticated %}
    <div id="wrapper">
        <!-- Navigation -->

        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">

            <div class="navbar-header ">
                <a class="navbar-brand ">
                    <div class="fa fa-cog fa-spin"></div>
                    {% if IS_CORP %}
                        {{ CORP_NAME }}
                    {% else %}
                        {{ ALLIANCE_NAME }}
                    {% endif %}
                </a>
            </div>

            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'auth_logout_user' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'auth_login_user' %}">Login</a></li>
                {% endif %}
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="text-center divider-horizontal">
                            <h5>Main Navigation</h5>
                        </li>

                        <li>
                            <a {% ifequal request.path "/dashboard/" %} class="active" {% endifequal %}
                                                                        href="{% url 'auth_dashboard' %}"><i
                                    class="fa fa-dashboard fa-fw grayiconecolor"></i> Dashboard</a>
                        </li>

                        <li>
                            <a {% ifequal request.path "/api_key_management/" %} class="active" {% endifequal %}
                                                                                 href="{% url 'auth_api_key_management' %}"><i
                                    class="fa fa-key fa-fw grayiconecolor"></i> Api Keys</a>
                        </li>

                        <li>
                            <a {% ifequal request.path "/characters/" %} class="active" {% endifequal %}
                                                                         href="{% url 'auth_characters' %}"><i
                                    class="fa fa-users fa-fw grayiconecolor"></i> Characters</a>
                        </li>

                        {% if  perms.auth.member %}
                            <li>
                                <a {% ifequal request.path "/groups/" %} class="active" {% endifequal %}
                                                                         href="{% url 'auth_groups' %}"><i
                                        class="fa fa-cogs fa-sitemap grayiconecolor"></i> Groups</a>
                            </li>
                        {% endif %}

                        <li>
                            <a {% ifequal request.path "/help/" %} class="active" {% endifequal %}
                                                                   href="{% url 'auth_help' %}"><i
                                    class="fa fa-question fa-fw grayiconecolor"></i> Help</a>
                        </li>


                        <li class="text-center divider-horizontal">
                            <h5>Aux Navigation</h5>
                        </li>
                        {% if  perms.auth.member or perms.auth.blue_member %}
                            <li>
                                <a {% ifequal request.path "/services/" %} class="active" {% endifequal %}
                                                                           href="{% url 'auth_services' %}"><i
                                        class="fa fa-cogs fa-fw grayiconecolor"></i> Services</a>
                            </li>
                        {% endif %}

                        {% if not perms.auth.member and not perms.auth.blue_member or perms.auth.human_resources %}
                            <li>
                                <a {% ifequal request.path "/hr_application_management/" %}
                                    class="active" {% endifequal %}
                                    href="{% url 'auth_hrapplications_view' %}"><i
                                        class="fa fa-file-o fa-fw grayiconecolor"></i> Applications</a>
                            </li>
                        {% endif %}

                        {% if perms.auth.corp_stats %}
                            <li>
                                <a {% ifequal request.path "/corporation_stats" %} class="active" {% endifequal %}
                                                                                   href="{% url 'auth_corp_stats' %}"><i
                                        class="fa fa-share-alt fa-fw grayiconecolor"></i> Corporation Stats</a>
                            </li>
                        {% endif %}

                        {% if perms.auth.group_management %}
                            <li>
                                <a {% ifequal request.path "/user/group_management/" %} class="active" {% endifequal %}
                                                                                        href="{% url 'auth_group_management' %}"><i
                                        class="fa fa-lock fa-sitemap grayiconecolor"></i> Group Management</a>
                            </li>
                        {% endif %}

                        {% if  perms.auth.member or perms.auth.blue_member %}
							<li>
                                <a {% ifequal request.path "/fits" %} class="active" {% endifequal %}
                                                                                  href="{% url 'auth_fleet_fits' %}"><i
                                        class="fa fa-bolt fa-fw grayiconecolor"></i> Fleet Doctrines</a>
                            </li>
                            {% if perms.auth.timer_view %}
                                <li>
                                    <a {% ifequal request.path "/timer_management" %} class="active" {% endifequal %}
                                                                                      href="{% url 'auth_timer_view' %}"><i
                                            class="fa fa-clock-o fa-fw grayiconecolor"></i> OP Timers</a>
                                </li>
                            {% endif %}

                            <li>
                                <a {% ifequal request.path "/srp/" %} class="active" {% endifequal %}
                                                                      href="{% url 'auth_srp_management_view' %}"><i
                                        class="fa fa-money fa-fw grayiconecolor"></i> Ship Replacement</a>
                            </li>

                        {% endif %}


                        <li class="text-center divider-horizontal">
                            <h5>Util</h5>
                        </li>
                        <li>
                            <a {% ifequal request.path "/user/password/" %} class="active" {% endifequal %}
                                                                            href="{% url 'password_change' %}"><i
                                    class="fa fa-lock fa-fw grayiconecolor"></i>Change Password</a>
                        </li>

                        {% if  perms.auth.member or perms.auth.blue_member %}
                            <li>
                                <a {% ifequal request.path "/tool/fleet_formatter_tool/" %}
                                    class="active" {% endifequal %}
                                    href="{% url 'auth_fleet_format_tool_view' %}"><i
                                        class="fa fa-space-shuttle fa-fw grayiconecolor"></i> Fleet Broadcast Formatter</a>
                            </li>
                        {% endif %}

                        {% if perms.auth.jabber_broadcast %}
                            <li>
                                <a {% ifequal request.path "/services/jabber_broadcast/" %}
                                    class="active" {% endifequal %} href="{% url 'auth_jabber_broadcast_view' %}"><i
                                        class="fa fa-lock fa-bullhorn grayiconecolor"></i> Jabber Broadcast</a>
                            </li>
                        {% endif %}
                    </ul>

                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
{% endif %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.datetimepicker.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>{% block extra_script %}
{% endblock extra_script %}</script>
</body>
</html>
