{"swagger": "2.0", "info": {"title": "EVE Swagger Interface", "description": "An OpenAPI for EVE Online", "version": "0.8.0"}, "host": "esi.tech.ccp.is", "schemes": ["https"], "produces": ["application/json"], "securityDefinitions": {"evesso": {"type": "oauth2", "authorizationUrl": "https://login.eveonline.com/oauth/authorize", "flow": "implicit", "scopes": {"esi-alliances.read_contacts.v1": "EVE SSO scope esi-alliances.read_contacts.v1", "esi-assets.read_assets.v1": "EVE SSO scope esi-assets.read_assets.v1", "esi-assets.read_corporation_assets.v1": "EVE SSO scope esi-assets.read_corporation_assets.v1", "esi-bookmarks.read_character_bookmarks.v1": "EVE SSO scope esi-bookmarks.read_character_bookmarks.v1", "esi-bookmarks.read_corporation_bookmarks.v1": "EVE SSO scope esi-bookmarks.read_corporation_bookmarks.v1", "esi-calendar.read_calendar_events.v1": "EVE SSO scope esi-calendar.read_calendar_events.v1", "esi-calendar.respond_calendar_events.v1": "EVE SSO scope esi-calendar.respond_calendar_events.v1", "esi-characters.read_agents_research.v1": "EVE SSO scope esi-characters.read_agents_research.v1", "esi-characters.read_blueprints.v1": "EVE SSO scope esi-characters.read_blueprints.v1", "esi-characters.read_chat_channels.v1": "EVE SSO scope esi-characters.read_chat_channels.v1", "esi-characters.read_contacts.v1": "EVE SSO scope esi-characters.read_contacts.v1", "esi-characters.read_corporation_roles.v1": "EVE SSO scope esi-characters.read_corporation_roles.v1", "esi-characters.read_fatigue.v1": "EVE SSO scope esi-characters.read_fatigue.v1", "esi-characters.read_fw_stats.v1": "EVE SSO scope esi-characters.read_fw_stats.v1", "esi-characters.read_loyalty.v1": "EVE SSO scope esi-characters.read_loyalty.v1", "esi-characters.read_medals.v1": "EVE SSO scope esi-characters.read_medals.v1", "esi-characters.read_notifications.v1": "EVE SSO scope esi-characters.read_notifications.v1", "esi-characters.read_opportunities.v1": "EVE SSO scope esi-characters.read_opportunities.v1", "esi-characters.read_standings.v1": "EVE SSO scope esi-characters.read_standings.v1", "esi-characters.read_titles.v1": "EVE SSO scope esi-characters.read_titles.v1", "esi-characters.write_contacts.v1": "EVE SSO scope esi-characters.write_contacts.v1", "esi-characterstats.read.v1": "EVE SSO scope esi-characterstats.read.v1", "esi-clones.read_clones.v1": "EVE SSO scope esi-clones.read_clones.v1", "esi-clones.read_implants.v1": "EVE SSO scope esi-clones.read_implants.v1", "esi-contracts.read_character_contracts.v1": "EVE SSO scope esi-contracts.read_character_contracts.v1", "esi-contracts.read_corporation_contracts.v1": "EVE SSO scope esi-contracts.read_corporation_contracts.v1", "esi-corporations.read_blueprints.v1": "EVE SSO scope esi-corporations.read_blueprints.v1", "esi-corporations.read_contacts.v1": "EVE SSO scope esi-corporations.read_contacts.v1", "esi-corporations.read_container_logs.v1": "EVE SSO scope esi-corporations.read_container_logs.v1", "esi-corporations.read_corporation_membership.v1": "EVE SSO scope esi-corporations.read_corporation_membership.v1", "esi-corporations.read_divisions.v1": "EVE SSO scope esi-corporations.read_divisions.v1", "esi-corporations.read_facilities.v1": "EVE SSO scope esi-corporations.read_facilities.v1", "esi-corporations.read_fw_stats.v1": "EVE SSO scope esi-corporations.read_fw_stats.v1", "esi-corporations.read_medals.v1": "EVE SSO scope esi-corporations.read_medals.v1", "esi-corporations.read_outposts.v1": "EVE SSO scope esi-corporations.read_outposts.v1", "esi-corporations.read_standings.v1": "EVE SSO scope esi-corporations.read_standings.v1", "esi-corporations.read_starbases.v1": "EVE SSO scope esi-corporations.read_starbases.v1", "esi-corporations.read_structures.v1": "EVE SSO scope esi-corporations.read_structures.v1", "esi-corporations.read_titles.v1": "EVE SSO scope esi-corporations.read_titles.v1", "esi-corporations.track_members.v1": "EVE SSO scope esi-corporations.track_members.v1", "esi-fittings.read_fittings.v1": "EVE SSO scope esi-fittings.read_fittings.v1", "esi-fittings.write_fittings.v1": "EVE SSO scope esi-fittings.write_fittings.v1", "esi-fleets.read_fleet.v1": "EVE SSO scope esi-fleets.read_fleet.v1", "esi-fleets.write_fleet.v1": "EVE SSO scope esi-fleets.write_fleet.v1", "esi-industry.read_character_jobs.v1": "EVE SSO scope esi-industry.read_character_jobs.v1", "esi-industry.read_character_mining.v1": "EVE SSO scope esi-industry.read_character_mining.v1", "esi-industry.read_corporation_jobs.v1": "EVE SSO scope esi-industry.read_corporation_jobs.v1", "esi-industry.read_corporation_mining.v1": "EVE SSO scope esi-industry.read_corporation_mining.v1", "esi-killmails.read_corporation_killmails.v1": "EVE SSO scope esi-killmails.read_corporation_killmails.v1", "esi-killmails.read_killmails.v1": "EVE SSO scope esi-killmails.read_killmails.v1", "esi-location.read_location.v1": "EVE SSO scope esi-location.read_location.v1", "esi-location.read_online.v1": "EVE SSO scope esi-location.read_online.v1", "esi-location.read_ship_type.v1": "EVE SSO scope esi-location.read_ship_type.v1", "esi-mail.organize_mail.v1": "EVE SSO scope esi-mail.organize_mail.v1", "esi-mail.read_mail.v1": "EVE SSO scope esi-mail.read_mail.v1", "esi-mail.send_mail.v1": "EVE SSO scope esi-mail.send_mail.v1", "esi-markets.read_character_orders.v1": "EVE SSO scope esi-markets.read_character_orders.v1", "esi-markets.read_corporation_orders.v1": "EVE SSO scope esi-markets.read_corporation_orders.v1", "esi-markets.structure_markets.v1": "EVE SSO scope esi-markets.structure_markets.v1", "esi-planets.manage_planets.v1": "EVE SSO scope esi-planets.manage_planets.v1", "esi-planets.read_customs_offices.v1": "EVE SSO scope esi-planets.read_customs_offices.v1", "esi-search.search_structures.v1": "EVE SSO scope esi-search.search_structures.v1", "esi-skills.read_skillqueue.v1": "EVE SSO scope esi-skills.read_skillqueue.v1", "esi-skills.read_skills.v1": "EVE SSO scope esi-skills.read_skills.v1", "esi-ui.open_window.v1": "EVE SSO scope esi-ui.open_window.v1", "esi-ui.write_waypoint.v1": "EVE SSO scope esi-ui.write_waypoint.v1", "esi-universe.read_structures.v1": "EVE SSO scope esi-universe.read_structures.v1", "esi-wallet.read_character_wallet.v1": "EVE SSO scope esi-wallet.read_character_wallet.v1", "esi-wallet.read_corporation_wallets.v1": "EVE SSO scope esi-wallet.read_corporation_wallets.v1"}}}, "parameters": {"datasource": {"name": "datasource", "description": "The server name you would like data from", "in": "query", "type": "string", "default": "tranquility", "enum": ["tranquility", "singularity"]}, "user_agent": {"name": "user_agent", "description": "Client identifier, takes precedence over headers", "in": "query", "type": "string"}, "X-User-Agent": {"name": "X-User-Agent", "description": "Client identifier, takes precedence over User-Agent", "in": "header", "type": "string"}, "page": {"name": "page", "description": "Which page of results to return", "in": "query", "type": "integer", "format": "int32", "default": 1}, "token": {"name": "token", "description": "Access token to use if unable to set a header", "in": "query", "type": "string"}, "character_id": {"description": "An EVE character ID", "format": "int32", "in": "path", "minimum": 1, "name": "character_id", "required": true, "type": "integer"}, "corporation_id": {"description": "An EVE corporation ID", "format": "int32", "in": "path", "minimum": 1, "name": "corporation_id", "required": true, "type": "integer"}, "language": {"name": "language", "description": "Language to use in the response", "in": "query", "type": "string", "default": "en-us", "enum": ["de", "en-us", "fr", "ja", "ru", "zh"]}, "alliance_id": {"description": "An EVE alliance ID", "format": "int32", "in": "path", "minimum": 1, "name": "alliance_id", "required": true, "type": "integer"}}, "definitions": {"unauthorized": {"type": "object", "description": "Unauthorized model", "title": "Unauthorized", "required": ["error"], "properties": {"error": {"type": "string", "description": "Unauthorized message"}}, "x-model": "Unauthorized"}, "forbidden": {"type": "object", "description": "Forbidden model", "title": "Forbidden", "required": ["error"], "properties": {"error": {"type": "string", "description": "Forbidden message"}, "sso_status": {"type": "integer", "description": "Status code received from SSO"}}, "x-model": "Forbidden"}, "bad_request": {"type": "object", "description": "Bad request model", "title": "Bad request", "required": ["error"], "properties": {"error": {"type": "string", "description": "Bad request message"}}, "x-model": "Bad request"}, "internal_server_error": {"type": "object", "description": "Internal server error model", "title": "Internal server error", "required": ["error"], "properties": {"error": {"type": "string", "description": "Internal server error message"}}, "x-model": "Internal server error"}, "bad_gateway": {"type": "object", "description": "Bad gateway model", "title": "Bad gateway", "required": ["error"], "properties": {"error": {"type": "string", "description": "Bad gateway message"}}, "x-model": "Bad gateway"}, "service_unavailable": {"type": "object", "description": "Service unavailable model", "title": "Service unavailable", "required": ["error"], "properties": {"error": {"type": "string", "description": "Service unavailable message"}}, "x-model": "Service unavailable"}}, "paths": {"/v3/alliances/{alliance_id}/": {"get": {"description": "Public information about an alliance\n\n---\n\nThis route is cached for up to 3600 seconds", "summary": "Get alliance information", "tags": ["Alliance"], "parameters": [{"$ref": "#/parameters/alliance_id", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/datasource", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/user_agent", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/X-User-Agent", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}], "responses": {"200": {"description": "Public data about an alliance", "examples": {"application/json": {"name": "C C P Alliance", "ticker": "<C C P>", "creator_id": 12345, "creator_corporation_id": 45678, "executor_corporation_id": 98356193, "date_founded": "2016-06-26T21:00:00Z"}}, "schema": {"type": "object", "required": ["name", "creator_id", "creator_corporation_id", "ticker", "date_founded"], "properties": {"name": {"type": "string", "description": "the full name of the alliance", "title": "get_alliances_alliance_id_name"}, "creator_id": {"type": "integer", "format": "int32", "description": "ID of the character that created the alliance", "title": "get_alliances_alliance_id_creator_id"}, "creator_corporation_id": {"type": "integer", "format": "int32", "description": "ID of the corporation that created the alliance", "title": "get_alliances_alliance_id_creator_corporation_id"}, "ticker": {"type": "string", "description": "the short name of the alliance", "title": "get_alliances_alliance_id_ticker"}, "executor_corporation_id": {"type": "integer", "format": "int32", "description": "the executor corporation ID, if this alliance is not closed", "title": "get_alliances_alliance_id_executor_corporation_id"}, "date_founded": {"type": "string", "format": "date-time", "title": "get_alliances_alliance_id_date_founded", "description": "date_founded string"}, "faction_id": {"type": "integer", "format": "int32", "description": "Faction ID this alliance is fighting for, if this alliance is enlisted in factional warfare", "title": "get_alliances_alliance_id_faction_id"}}, "title": "get_alliances_alliance_id_ok", "description": "200 ok object", "x-model": "get_alliances_alliance_id_ok"}, "headers": {"Cache-Control": {"description": "The caching mechanism used", "type": "string"}, "Last-Modified": {"description": "RFC7231 formatted datetime string", "type": "string"}, "Expires": {"description": "RFC7231 formatted datetime string", "type": "string"}}}, "404": {"description": "Alliance not found", "schema": {"type": "object", "title": "get_alliances_alliance_id_not_found", "description": "Not found", "properties": {"error": {"type": "string", "description": "Not found message", "title": "get_alliances_alliance_id_404_not_found"}}, "x-model": "get_alliances_alliance_id_not_found"}, "examples": {"application/json": {"error": "Not found message"}}}, "400": {"description": "Bad request", "schema": {"$ref": "#/definitions/bad_request", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Bad request message"}}}, "500": {"description": "Internal server error", "schema": {"$ref": "#/definitions/internal_server_error", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Internal server error message"}}}, "502": {"description": "Bad gateway", "schema": {"$ref": "#/definitions/bad_gateway", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Bad gateway message"}}}, "503": {"description": "Service unavailable", "schema": {"$ref": "#/definitions/service_unavailable", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Service unavailable message"}}}}, "operationId": "get_alliances_alliance_id", "x-cached-seconds": 3600, "x-alternate-versions": ["dev", "v3"]}}, "/v1/alliances/{alliance_id}/corporations/": {"get": {"description": "List all current member corporations of an alliance\n\n---\n\nThis route is cached for up to 3600 seconds", "summary": "List alliance's corporations", "tags": ["Alliance"], "parameters": [{"$ref": "#/parameters/alliance_id", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/datasource", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/user_agent", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/X-User-Agent", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}], "responses": {"200": {"description": "List of corporation IDs", "examples": {"application/json": [98000001]}, "schema": {"type": "array", "maxItems": 1000, "items": {"type": "integer", "format": "int32", "minimum": 0, "uniqueItems": true, "title": "get_alliances_alliance_id_corporations_200_ok", "description": "200 ok integer"}, "title": "get_alliances_alliance_id_corporations_ok", "description": "200 ok array"}, "headers": {"Cache-Control": {"description": "The caching mechanism used", "type": "string"}, "Last-Modified": {"description": "RFC7231 formatted datetime string", "type": "string"}, "Expires": {"description": "RFC7231 formatted datetime string", "type": "string"}}}, "400": {"description": "Bad request", "schema": {"$ref": "#/definitions/bad_request", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Bad request message"}}}, "500": {"description": "Internal server error", "schema": {"$ref": "#/definitions/internal_server_error", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Internal server error message"}}}, "502": {"description": "Bad gateway", "schema": {"$ref": "#/definitions/bad_gateway", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Bad gateway message"}}}, "503": {"description": "Service unavailable", "schema": {"$ref": "#/definitions/service_unavailable", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Service unavailable message"}}}}, "operationId": "get_alliances_alliance_id_corporations", "x-cached-seconds": 3600, "x-alternate-versions": ["dev", "legacy", "v1"]}}, "/v4/characters/{character_id}/": {"get": {"description": "Public information about a character\n\n---\n\nThis route is cached for up to 3600 seconds", "summary": "Get character's public information", "tags": ["Character"], "parameters": [{"$ref": "#/parameters/character_id", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/datasource", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/user_agent", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/X-User-Agent", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}], "responses": {"200": {"description": "Public data for the given character", "examples": {"application/json": {"corporation_id": 109299958, "birthday": "2015-03-24T11:37:00Z", "name": "CCP Bartender", "gender": "male", "race_id": 2, "description": "", "bloodline_id": 3, "ancestry_id": 19}}, "schema": {"type": "object", "required": ["corporation_id", "birthday", "name", "gender", "race_id", "bloodline_id"], "properties": {"name": {"type": "string", "title": "get_characters_character_id_name", "description": "name string"}, "description": {"type": "string", "title": "get_characters_character_id_description", "description": "description string"}, "corporation_id": {"type": "integer", "format": "int32", "description": "The character's corporation ID", "title": "get_characters_character_id_corporation_id"}, "alliance_id": {"type": "integer", "format": "int32", "description": "The character's alliance ID", "title": "get_characters_character_id_alliance_id"}, "birthday": {"type": "string", "format": "date-time", "description": "Creation date of the character", "title": "get_characters_character_id_birthday"}, "gender": {"type": "string", "enum": ["female", "male"], "title": "get_characters_character_id_gender", "description": "gender string"}, "race_id": {"type": "integer", "format": "int32", "title": "get_characters_character_id_race_id", "description": "race_id integer"}, "bloodline_id": {"type": "integer", "format": "int32", "title": "get_characters_character_id_bloodline_id", "description": "bloodline_id integer"}, "ancestry_id": {"type": "integer", "format": "int32", "title": "get_characters_character_id_ancestry_id", "description": "ancestry_id integer"}, "security_status": {"type": "number", "format": "float", "minimum": -10, "maximum": 10, "title": "get_characters_character_id_security_status", "description": "security_status number"}, "faction_id": {"type": "integer", "format": "int32", "description": "ID of the faction the character is fighting for, if the character is enlisted in Factional Warfare", "title": "get_characters_character_id_faction_id"}}, "title": "get_characters_character_id_ok", "description": "200 ok object", "x-model": "get_characters_character_id_ok"}, "headers": {"Cache-Control": {"description": "The caching mechanism used", "type": "string"}, "Last-Modified": {"description": "RFC7231 formatted datetime string", "type": "string"}, "Expires": {"description": "RFC7231 formatted datetime string", "type": "string"}}}, "404": {"description": "Character not found", "schema": {"type": "object", "title": "get_characters_character_id_not_found", "description": "Not found", "properties": {"error": {"type": "string", "description": "Not found message", "title": "get_characters_character_id_404_not_found"}}, "x-model": "get_characters_character_id_not_found"}, "examples": {"application/json": {"error": "Not found message"}}}, "400": {"description": "Bad request", "schema": {"$ref": "#/definitions/bad_request", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Bad request message"}}}, "500": {"description": "Internal server error", "schema": {"$ref": "#/definitions/internal_server_error", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Internal server error message"}}}, "502": {"description": "Bad gateway", "schema": {"$ref": "#/definitions/bad_gateway", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Bad gateway message"}}}, "503": {"description": "Service unavailable", "schema": {"$ref": "#/definitions/service_unavailable", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Service unavailable message"}}}}, "operationId": "get_characters_character_id", "x-cached-seconds": 3600, "x-alternate-versions": ["dev", "v4"]}}, "/v4/corporations/{corporation_id}/": {"get": {"description": "Public information about a corporation\n\n---\n\nThis route is cached for up to 3600 seconds", "summary": "Get corporation information", "tags": ["Corporation"], "parameters": [{"$ref": "#/parameters/corporation_id", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/datasource", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/user_agent", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/X-User-Agent", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}], "responses": {"200": {"description": "Public information about a corporation", "examples": {"application/json": {"name": "C C P", "ticker": "-CCP-", "member_count": 656, "ceo_id": 180548812, "alliance_id": 434243723, "description": "This is a corporation description, it's basically just a string", "tax_rate": 0.256, "date_founded": "2004-11-28T16:42:51Z", "creator_id": 180548812, "url": "http://www.eveonline.com"}}, "schema": {"type": "object", "required": ["name", "ticker", "member_count", "ceo_id", "tax_rate", "creator_id"], "properties": {"name": {"type": "string", "description": "the full name of the corporation", "title": "get_corporations_corporation_id_name"}, "ticker": {"type": "string", "description": "the short name of the corporation", "title": "get_corporations_corporation_id_ticker"}, "member_count": {"type": "integer", "format": "int32", "title": "get_corporations_corporation_id_member_count", "description": "member_count integer"}, "ceo_id": {"type": "integer", "format": "int32", "title": "get_corporations_corporation_id_ceo_id", "description": "ceo_id integer"}, "alliance_id": {"type": "integer", "format": "int32", "description": "ID of the alliance that corporation is a member of, if any", "title": "get_corporations_corporation_id_alliance_id"}, "description": {"type": "string", "title": "get_corporations_corporation_id_description", "description": "description string"}, "tax_rate": {"type": "number", "format": "float", "minimum": 0, "maximum": 1, "title": "get_corporations_corporation_id_tax_rate", "description": "tax_rate number"}, "date_founded": {"type": "string", "format": "date-time", "title": "get_corporations_corporation_id_date_founded", "description": "date_founded string"}, "creator_id": {"type": "integer", "format": "int32", "title": "get_corporations_corporation_id_creator_id", "description": "creator_id integer"}, "url": {"type": "string", "title": "get_corporations_corporation_id_url", "description": "url string"}, "faction_id": {"type": "integer", "format": "int32", "title": "get_corporations_corporation_id_faction_id", "description": "faction_id integer"}, "home_station_id": {"type": "integer", "format": "int32", "title": "get_corporations_corporation_id_home_station_id", "description": "home_station_id integer"}, "shares": {"type": "integer", "format": "int64", "title": "get_corporations_corporation_id_shares", "description": "shares integer"}}, "title": "get_corporations_corporation_id_ok", "description": "200 ok object", "x-model": "get_corporations_corporation_id_ok"}, "headers": {"Cache-Control": {"description": "The caching mechanism used", "type": "string"}, "Last-Modified": {"description": "RFC7231 formatted datetime string", "type": "string"}, "Expires": {"description": "RFC7231 formatted datetime string", "type": "string"}}}, "404": {"description": "Corporation not found", "schema": {"type": "object", "title": "get_corporations_corporation_id_not_found", "description": "Not found", "properties": {"error": {"type": "string", "description": "Not found message", "title": "get_corporations_corporation_id_404_not_found"}}, "x-model": "get_corporations_corporation_id_not_found"}, "examples": {"application/json": {"error": "Not found message"}}}, "400": {"description": "Bad request", "schema": {"$ref": "#/definitions/bad_request", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Bad request message"}}}, "500": {"description": "Internal server error", "schema": {"$ref": "#/definitions/internal_server_error", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Internal server error message"}}}, "502": {"description": "Bad gateway", "schema": {"$ref": "#/definitions/bad_gateway", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Bad gateway message"}}}, "503": {"description": "Service unavailable", "schema": {"$ref": "#/definitions/service_unavailable", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Service unavailable message"}}}}, "operationId": "get_corporations_corporation_id", "x-cached-seconds": 3600, "x-alternate-versions": ["dev", "v4"]}}, "/v3/universe/types/{type_id}/": {"get": {"description": "Get information on a type\n\n---\n\nThis route expires daily at 11:05", "summary": "Get type information", "tags": ["Universe"], "parameters": [{"$ref": "#/parameters/datasource", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/language", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"name": "type_id", "in": "path", "description": "An Eve item type ID", "required": true, "type": "integer", "format": "int32"}, {"$ref": "#/parameters/user_agent", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, {"$ref": "#/parameters/X-User-Agent", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}], "responses": {"200": {"description": "Information about a type", "examples": {"application/json": {"type_id": 587, "name": "Rifter", "description": "The Rifter is a...", "published": true, "group_id": 25}}, "schema": {"type": "object", "required": ["type_id", "name", "description", "published", "group_id"], "properties": {"type_id": {"type": "integer", "format": "int32", "title": "get_universe_types_type_id_type_id", "description": "type_id integer"}, "name": {"type": "string", "title": "get_universe_types_type_id_name", "description": "name string"}, "description": {"type": "string", "title": "get_universe_types_type_id_description", "description": "description string"}, "published": {"type": "boolean", "title": "get_universe_types_type_id_published", "description": "published boolean"}, "group_id": {"type": "integer", "format": "int32", "title": "get_universe_types_type_id_group_id", "description": "group_id integer"}, "market_group_id": {"type": "integer", "format": "int32", "description": "This only exists for types that can be put on the market", "title": "get_universe_types_type_id_market_group_id"}, "radius": {"type": "number", "format": "float", "title": "get_universe_types_type_id_radius", "description": "radius number"}, "volume": {"type": "number", "format": "float", "title": "get_universe_types_type_id_volume", "description": "volume number"}, "packaged_volume": {"type": "number", "format": "float", "title": "get_universe_types_type_id_packaged_volume", "description": "packaged_volume number"}, "icon_id": {"type": "integer", "format": "int32", "title": "get_universe_types_type_id_icon_id", "description": "icon_id integer"}, "capacity": {"type": "number", "format": "float", "title": "get_universe_types_type_id_capacity", "description": "capacity number"}, "portion_size": {"type": "integer", "format": "int32", "title": "get_universe_types_type_id_portion_size", "description": "portion_size integer"}, "mass": {"type": "number", "format": "float", "title": "get_universe_types_type_id_mass", "description": "mass number"}, "graphic_id": {"type": "integer", "format": "int32", "title": "get_universe_types_type_id_graphic_id", "description": "graphic_id integer"}, "dogma_attributes": {"type": "array", "maxItems": 1000, "items": {"type": "object", "required": ["attribute_id", "value"], "properties": {"attribute_id": {"type": "integer", "format": "int32", "title": "get_universe_types_type_id_attribute_id", "description": "attribute_id integer"}, "value": {"type": "number", "format": "float", "title": "get_universe_types_type_id_value", "description": "value number"}}, "title": "get_universe_types_type_id_dogma_attribute", "description": "dogma_attribute object", "x-model": "get_universe_types_type_id_dogma_attribute"}, "title": "get_universe_types_type_id_dogma_attributes", "description": "dogma_attributes array"}, "dogma_effects": {"type": "array", "maxItems": 1000, "items": {"type": "object", "required": ["effect_id", "is_default"], "properties": {"effect_id": {"type": "integer", "format": "int32", "title": "get_universe_types_type_id_effect_id", "description": "effect_id integer"}, "is_default": {"type": "boolean", "title": "get_universe_types_type_id_is_default", "description": "is_default boolean"}}, "title": "get_universe_types_type_id_dogma_effect", "description": "dogma_effect object", "x-model": "get_universe_types_type_id_dogma_effect"}, "title": "get_universe_types_type_id_dogma_effects", "description": "dogma_effects array"}}, "title": "get_universe_types_type_id_ok", "description": "200 ok object", "x-model": "get_universe_types_type_id_ok"}, "headers": {"Content-Language": {"description": "The language used in the response", "type": "string", "enum": ["de", "en-us", "fr", "ja", "ru", "zh"]}, "Cache-Control": {"description": "The caching mechanism used", "type": "string"}, "Last-Modified": {"description": "RFC7231 formatted datetime string", "type": "string"}, "Expires": {"description": "RFC7231 formatted datetime string", "type": "string"}}}, "404": {"description": "Type not found", "schema": {"type": "object", "title": "get_universe_types_type_id_not_found", "description": "Not found", "properties": {"error": {"type": "string", "description": "Not found message", "title": "get_universe_types_type_id_404_not_found"}}, "x-model": "get_universe_types_type_id_not_found"}, "examples": {"application/json": {"error": "Not found message"}}}, "400": {"description": "Bad request", "schema": {"$ref": "#/definitions/bad_request", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Bad request message"}}}, "500": {"description": "Internal server error", "schema": {"$ref": "#/definitions/internal_server_error", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Internal server error message"}}}, "502": {"description": "Bad gateway", "schema": {"$ref": "#/definitions/bad_gateway", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Bad gateway message"}}}, "503": {"description": "Service unavailable", "schema": {"$ref": "#/definitions/service_unavailable", "x-scope": ["https://esi.tech.ccp.is/_latest/swagger.json"]}, "examples": {"application/json": {"error": "Service unavailable message"}}}}, "operationId": "get_universe_types_type_id", "x-alternate-versions": ["dev", "v3"]}}}}