{% extends "corputils/base.html" %}
{% load i18n %}
{% load bootstrap_pagination %}
{% load eveonline_extras %}
{% block member_data %}
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="panel-title pull-left">{% trans "Search Results" %}</div>
        </div>
        <div class="panel-body">
            <div class="text-center">
                {% bootstrap_paginate results range=10 %}
            </div>
            <table class="table table-hover">
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center">{% trans "Character" %}</th>
                    <th class="text-center">{% trans "Corporation" %}</th>
                    <th class="text-center">{% trans "API" %}</th>
                    <th class="text-center">{% trans "zKillboard" %}</th>
                    <th class="text-center">{% trans "Main Character" %}</th>
                    <th class="text-center">{% trans "Main Corporation" %}</th>
                    <th class="text-center">{% trans "Main Alliance" %}</th>
                </tr>
                {% for result in results %}
                    <tr {% if not result.1.registered %}class="danger"{% endif %}>
                        <td class="text-center"><img src="{{ result.1.portrait_url }}" class="img-circle"></td>
                        <td class="text-center">{{ result.1.character_name }}</td>
                        <td class="text-center">{{ result.0.corp.corporation_name }}</td>
                        {% if result.1.api %}
                            <td class="text-center">{{ result.1.api|api_link:"label label-primary" }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td class="text-center"><a href="https://zkillboard.com/character/{{ result.1.character_id }}/" class="label label-danger" target="_blank">{% trans "Killboard" %}</a></td>
                        <td class="text-center">{{ result.1.main.character_name }}</td>
                        <td class="text-center">{{ result.1.main.corporation_name }}</td>
                        <td class="text-center">{{ result.1.main.alliance_name }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
