{% extends 'public/base.html' %}
{% load i18n %}
{% block title %}Fleet Participation{% endblock %}
{% block page_title %}{% trans "Fleet Participation" %}{% endblock %}

{% block content %}
<div class="col-lg-12">
    <h1 class="page-header text-center">{% trans "Character not found!" %}</h1>
    <div class="col-lg-12 container" id="example">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ character_name }}</div>
                    <div class="panel-body">
                        <div class="col-lg-2 col-sm-2">
                             <img class="ra-avatar img-responsive" src="https://image.eveonline.com/Character/{{ character_id }}_128.jpg">
                        </div>
                        <div class="col-lg-10 col-sm-2">
                            <div class="alert alert-danger" role="alert">{% trans "Character not registered!" %}</div>
                            {% trans "This character is not part of any registered API-key. You must go to" %} <a href=" {% url 'auth_api_key_management' %}">{% trans "API key management</a> and add an API with the character on before being able to click fleet attendance links." %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
