{% extends "public/base.html" %}

{% block title %}Alliance Auth{% endblock %}

{% block page_title %}Login Page{% endblock page_title %}

{% block content %}
<div class="container">
    <div class="row-fluid">
        <div class="center-block" style="center">
            <p>
              <form class="form-signin" role="form" action="/loginuser/" method="POST">
                {% csrf_token %}
                <h2 class="form-signin-heading">Please sign in</h2>
                  {{form.as_p}}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
              </form>
              <p><a href="/register/">Register Here</a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}
