{% extends "public/base.html" %}
{% load bootstrap %}
{% block title %}Alliance Auth{% endblock %}

{% block page_title %}Register Page{% endblock page_title %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if error %}
                <div class="alert alert-danger" role="alert">Username Already Registered</div>
            {% endif %}
            <form action="{% url 'auth_register' %}" method="POST">
            {% csrf_token %}
            <h2 class="form-signin-heading">Register Account</h2>
            {{ form|bootstrap }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
        </div>
    </div>
</div>
{% endblock content %}
