{% extends "public/base.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}Alliance Auth{% endblock %}

{% block page_title %}Add Api Key{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">Add Api Key</h1>

        <div class="container-fluid">
            <div class="col-md-4 col-md-offset-4">
                <div class="row">
                    <p class="text-center">
                        Full API Key is required for auth services
                    </p>

                    <p class="text-center">
                        <a target="_blank"
                           href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask={{MEMBER_API_MASK}}">Create
                            a full API key</a>
                    </p>
                    {% if IS_CORP %}
                        <p class="text-center">
                            NOTE: If you are part of the corp do not check "Blue", this is for people who are blue to the
                            corp
                            but are not in it. Blue access is limited.
                        </p>
                    {% else %}
                        <p class="text-center">
                            NOTE: If you are part of the alliance do not check "Blue", this is for people who are blue to the
                            alliance
                            but are not in it. Blue access is limited.
                        </p>
                    {% endif %}

                    <p class="text-center"><b>Do not change the accessmask or deselect options or it will not work </b>
                    </p>

                    <p class="text-center">
                        <a target="_blank"
                           href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask={{BLUE_API_MASK}}">Create
                            a blue key</a>
                    </p>

                    <form class="form-signin" role="form" action="{% url 'auth_add_api_key' %}" method="POST">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <br/>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Add Key</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
