{% extends "public/base.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}Alliance Auth{% endblock %}

{% block page_title %}Corporation Member Tracking{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <div class="col-lg-12">
        {% if perms.auth.corputils %}
            <h1 class="page-header text-center">Member Search Results
            </h1>
            <h2 class="text-center"><a href="{% url 'auth_corputils' %}{{ corp.corporation_id }}">{{ corp.corporation_name }}</a></h2>
            <div class="container-fluid">
         
        <div class="panel panel-default">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-wide">
                        <li style="float: right">
                            <form class="navbar-form navbar-right" role="search" action={% url 'auth_corputils_search' %}{{ corp.corporation_id }}/ method="POST">
                                <div class="form-group">
                                {% csrf_token %}
                                {{ search_form.as_table }}
                                </div>
                                <button class="btn btn-default" type="submit">Search</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
                <div class="panel-body">
                    <table class="table table-condensed table-hover table-striped">
                        <tr>
                            <th class="col-md-1"></th>
                            <th class="col-md-2">Character</th>
                            <th class="col-md-2">Main character</th>
                            <th class="col-md-5">Killboard</th>
                            <th class="col-md-2">API JackKnife</th>
                        </tr>
                        {% for result in results %}
                            <tr >
                                <td>
                                    <img src="http://image.eveonline.com/Character/{{ result.id }}_32.jpg" class="img-circle">
                                </td>
                                <td>{{ result.name }}</td>
                                <td>
                                {% if  result.api_registered%}
                                    {{ result.main }}
                                {% else %}
                                    <span class="label label-danger">No API registered!</span>
                                {% endif %}
                                </td>
                                <td>
                                    <p><a href="https://zkillboard.com/character/{{ result.char.character_id }}/" class="label label-danger" target="_blank">Killboard</a></p>
                                </td>

                                <td>
                                    {% if result.api_registered %}
                                    <a href="{{ JACK_KNIFE_URL }}?usid={{ result.apiinfo.api_id }}&apik={{ result.apiinfo.api_key }}"
                                       target="_blank">
                                        <button type="button" class="btn btn-primary">API JackKnife
                                        </button>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock content %}
