{% extends "public/base.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}Alliance Auth{% endblock %}

{% block page_title %}Corporation Member Tracking{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <div class="col-lg-8">
        {% if perms.auth.corputils %}
         
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Search Results</h3>
            </div>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li>
                            <form class="navbar-form navbar-left" role="search" action={% url 'auth_corputils_search' %}{{ corp.corporation_id }}/ method="POST">
                                <div class="form-group">
                                {% csrf_token %}
                                {{ search_form.as_table }}
                                </div>
                                <button class="btn btn-default" type="submit">Search</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
                <div class="panel-body">
                    <table class="table table-condensed table-hover table-striped">
                        <tr>
                            <th>Character</th>
                            <th>Main Character</th>
                        </tr>
                        {% for member in members %}
                            <tr {% if  not member.api_registered%} {% endif %} >
                                <td>{{ member.name }}{{ member.id }}</td>
                                <td>
                                {% if  member.api_registered%}
                                    {{ member.main }}
                                {% else %}
                                    <span class="label label-danger">No API registered!</span>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock content %}
