{% extends "public/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">{% trans "Dashboard" %}</h1>
            <div class="col-lg-12 container">
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <div class="panel panel-primary">
                            <div class="panel-heading">{% trans "Main Character" %}</div>
                            <div class="panel-body">
                                {% if main %}
                                    <div class="col-lg-4 col-sm-2">
                                        <table class="table">
                                            <tr><td class="text-center"><img class="ra-avatar" src="https://image.eveonline.com/Character/{{ main.character_id }}_128.jpg"></td></tr>
                                            <tr><td class="text-center">{{ main.character_name }}</td></tr>
                                        </table>
                                    </div>
                                    <div class="col-lg-4 col-sm-2">
                                        <table class="table">
                                            <tr><td class="text-center"><img class="ra-avatar" src="https://image.eveonline.com/Corporation/{{ main.corporation_id }}_128.png"></td></tr>
                                            <tr><td class="text-center">{{ main.corporation_name }}</td></tr>
                                        </table>
                                    </div>
                                    <div class="col-lg-4 col-sm-2">
                                        {% if main.alliance_id %}
                                            <table class="table">
                                                <tr><td class="text-center"><img class="ra-avatar" src="https://image.eveonline.com/Alliance/{{ main.alliance_id }}_128.png"></td></tr>
                                                <tr><td class="text-center">{{ main.alliance_name }}</td><tr>
                                            </table>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div class="alert alert-danger" role="alert">Missing main character model.</div>
                                {% endif %}
                                <div class="clearfix"></div>
                                <div class="col-sm-6">
                                    <a href="{% url 'auth_add_api_key' %}" class="btn btn-block btn-success" label="Add API Key">Add API Key</a>
                                </div>
                                <div class="col-sm-6">
                                    <a href="{% url 'auth_characters' %}" class="btn btn-block btn-info" label="Change Main Character">Change Main</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center">
                        <div class="panel panel-success">
                            <div class="panel-heading">{% trans "Groups" %}</div>
                            <div class="panel-body">
                                <div style="height: 236px;overflow:-moz-scrollbars-vertical;overflow-y:auto;">
                                <table class="table table-striped">
                                        {% for group in user.groups.all %}
                                            <tr>
                                                <td>{{ group.name }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                {% if apis %}
                    {% for api in apis %}
                        <div class="panel panel-{{ api.sso_verified|yesno:"success,warning,default" }}">
                            <div class="panel-heading" style="display:flex;">
                                <div style="width: 25%;" title="{% if not api.sso_verified and api_sso_validation %}{% trans "API Key requires EVE SSO verification" %}{% else %}{% trans "API Key is valid" %}{% endif %}">
                                    {% trans "API ID" %} {{ api.id }} <span class="glyphicon glyphicon-{{ api.sso_verified|yesno:"ok-sign,warning-sign,question-sign" }}"></span>
                                </div>
                                <div class="text-right" style="width: 75%;">
                                    <a href="{% url 'auth_user_refresh_api' api.id %}" class="btn btn-primary" title="Update"><span class="glyphicon glyphicon-refresh"></span></a>
                                    <a href="{% url 'auth_api_key_removal' api.id %}" class="btn btn-danger" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
                                    {% if api_sso_validation and not api.sso_verified %}
                                    <a href="{% url 'auth_api_sso' api.id %}" class="btn btn-info"
                                       title="EVE SSO verify this key">
                                        <span class="fa fa-shield"></span>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            <table class="table">
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-center">{% trans "Name" %}</th>
                                    <th class="text-center">{% trans "Corp" %}</th>
                                    <th class="text-center">{% trans "Alliance" %}</th>
                                </tr>
                                {% for char in api.characters %}
                                    <tr>
                                        <td class="text-center">
                                            <img class="ra-avatar img-responsive" src="https://image.eveonline.com/Character/{{ char.character_id }}_32.jpg">
                                        </td>
                                        <td class="text-center">{{ char.character_name }}</td>
                                        <td class="text-center">{{ char.corporation_name }}</td>
                                        <td class="text-center">{{ char.alliance_name }}</td>
                                    </tr>
                                {% endfor %}
                                {% if api.corp %}
                                    <tr>
                                        <td class="text-center">
                                            <img class="ra-avatar img-responsive" src="https://image.eveonline.com/Corporation/{{ api.corporation_id }}_32.png">
                                        </td>
                                        <td class="text-center"></td>
                                        <td class="text-center">{{ api.corporation_name }}</td>
                                        <td class="text-center">{{ api.alliance_name }}</td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                    {% endfor %}
                 {% else %}
                     <div class="alert alert-danger" role="alert">{% trans "No API keys found" %}</div>
                 {% endif %}
             </div>
         </div>
     </div>
{% endblock %}
