{% extends "public/base.html" %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Alliance Auth{% endblock %}
{% block page_title %}{% trans "Personal fatlink statistics" %}{% endblock page_title %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">{% trans "Participation data statistics for" %} {{ month }}, {{ year }}
            {% if char_id %}
            <div class="text-right">
                <a href="{% url 'auth_fatlink_view_user_statistics_month' char_id previous_month|date:"Y" previous_month|date:"m" %}" class="btn btn-info">{% trans "Previous month" %}</a>
                <a href="{% url 'auth_fatlink_view_user_statistics_month' char_id next_month|date:"Y" next_month|date:"m"  %}" class="btn btn-info">{% trans "Next month" %}</a>
            </div>
            {% endif %}
        </h1>
        <h2>{% blocktrans %}{{ user }} has collected {{ n_fats }} links this month.{% endblocktrans %}</h2>
        <table class="table table-responsive table-bordered">
            <tr>
                <th class="col-md-2 text-center">{% trans "Ship" %}</th>
                <th class="col-md-2 text-center">{% trans "Times used" %}</th>
            </tr>
            {% for ship, n_fats in shipStats %}
            <tr>
                <td class="text-center">{{ ship }}</td>
                <td class="text-center">{{ n_fats }}</td>
            </tr>
            {% endfor %}
        </table>
        {%  if created_fats %}
         <h2>{% blocktrans %}{{ user }} has created {{ n_created_fats }} links this month.{% endblocktrans %}</h2>
        <table class="table table-bordered">
            <tr>
                <th class="text-center">{% trans "Name" %}</th>
                <th class="text-center">{% trans "Creator" %}</th>
                <th class="text-center">{% trans "Fleet" %}</th>
                <th class="text-center">{% trans "Eve Time" %}</th>
                <th class="text-center">{% trans "Duration" %}</th>
                <th class="text-center">{% trans "Edit" %}</th>
            </tr>
            {% for link in created_fats %}
            <tr>
                <td class="text-center"><a href="{%  url 'auth_click_fatlink_view' %}{{ link.hash }}/{{ link.name }}">{{ link.name }}</a></td>
                <td class="text-center">{{ link.creator.username }}</td>
                <td class="text-center">{{ link.fleet }}</td>
                <td class="text-center">{{ link.fatdatetime }}</td>
                <td class="text-center">{{ link.duration }}</td>
                <td class="text-center">
                    <a href="{%  url 'auth_modify_fatlink_view' %}{{ link.hash }}/{{ link.name }}">
                        <button type="button" class="btn btn-info"><span
                                class="glyphicon glyphicon-edit"></span></button>
                    </a>
                </td>
            </tr>
            {%  endfor %}

        </table>
        {% endif %}
    </div>


<script src="/static/js/dateformat.js"></script>

{% endblock content %}
