{% extends "public/base.html" %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Alliance Auth{% endblock %}
{% block page_title %}FleetUp{% endblock page_title %}

{% block content %}
<div class="col-lg-12">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Fleet-Up</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'auth_fleetup_view' %}">{% trans "Ops and Timers" %}</a></li>
                <li class="active"><a href="{% url 'auth_fleetup_doctrines' %}">{% trans "Doctrines" %} <span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'auth_fleetup_fittings' %}">{% trans "Fittings" %}</a></li>
                {% if perms.auth.corp_stats %}
                <li><a href="{% url 'auth_fleetup_characters' %}">{% trans "Characters" %}</a></li>
                {% endif %}
                <li></li>
            </ul>
        </div>
    </div>
</nav>
    <div class="panel">
        {% if doctrines_list %}
        {% for a, j in doctrines_list.items %}
        {% regroup j|dictsort:"FolderName" by FolderName as folder_list %}
            {% for FolderName in folder_list %}
            <div class="col-lg-8">
            <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><b>{{ FolderName.grouper }}</b></h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-condensed table-hover table-striped">
                                <tr>
                                    <th class="col-lg-1"></th>
                                    <th class="col-lg-4">{% trans "Name" %}</th>
                                    <th class="col-lg-3">{% trans "Doctrine" %}</th>
                                    <th class="col-lg-4">{% trans "Last updated" %}</th>
                                    <!--<th class="col-lg-1">Owner</th>
                                    <th class="col-lg-2">Note</th>-->
                                </tr>
                                {% for item in FolderName.list %}
                
                                <tr>
                                    <td>
                                    <a href="{% url 'auth_fleetup_doctrine' item.DoctrineId %}"><img src="https://image.eveonline.com/InventoryType/{{ item.IconId }}_32.png"></a>
                                    </td> 
                                    <td>
                                    {{ item.Name }}
                                    </td>
                                    <td>
                                    <a href="{% url 'auth_fleetup_doctrine' item.DoctrineId %}" class="btn btn-info btn-sm">{{ item.FolderName }}</a>
                                    </td>
                                    <td>
                                    {{ item.LastUpdatedString }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
            </div>
            </div>
            {% endfor %}
    </div>
        {% endfor %}

        {% else %}
        <h3>There seems to be no Doctrines in here at the moment!</h3>
        {% endif %}
    </div>
</div>

{% endblock content %}
