{% extends "public/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Notifications" %}{% endblock %}

{% block content %}
   <div class="col-lg-12">
        <h1 class="page-header text-center">{% trans "Notifications" %}</h1>
        <div class="col-lg-12 container" id="example">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#unread">{% trans "Unread" %} <b>({{unread|length}})</b></a></li>
                        <li><a data-toggle="tab" href="#read">{% trans "Read" %} <b>({{read|length}})</b></a></li>
                        <div class="text-right">
                            <a href="{% url 'auth_mark_all_notifications_read' %}" class="btn btn-primary">Mark All Read</a>
                            <a href="{% url 'auth_delete_all_read_notifications' %}" class="btn btn-danger">Delete All Read</a>
                        </div>
                    </ul>
                    <div class="tab-content">
                        <div id="unread" class="tab-pane fade in active">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-hover table-striped">
                                        <tr>
                                            <th class="text-center">{% trans "Timestamp" %}</th>
                                            <th class="text-center">{% trans "Title" %}</th>
                                            <th class="text-center">{% trans "Action" %}</th>
                                        </tr>
                                        {% for notif in unread %}
                                            <tr class="{{ notif.level }}">
                                                <td class="text-center">{{ notif.timestamp }}</td>
                                                <td class="text-center">{{ notif.title }}</td>
                                                <td class="text-center">
                                                    <a href="{% url 'auth_notification_view' notif.id %}" class="btn btn-success" title="View">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                     </a>
                                                    <a href="{% url 'auth_remove_notification' notif.id %}" class="btn btn-danger" title="Remove">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </a>
                                                 </td>
                                             </tr>
                                         {% endfor %}
                                     </table>
                                 </div>
                             </div>
                         </div>
                        <div id="read" class="tab-pane fade">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-hover table-striped">
                                        <tr>
                                            <th class="text-center">{% trans "Timestamp" %}</th>
                                            <th class="text-center">{% trans "Title" %}</th>
                                            <th class="text-center">{% trans "Action" %}</th>
                                        </tr>
                                        {% for notif in read %}
                                            <tr class="{{ notif.level }}">
                                                <td class="text-center">{{ notif.timestamp }}</td>
                                                <td class="text-center">{{ notif.title }}</td>
                                                <td class="text-center">
                                                    <a href="{% url 'auth_notification_view' notif.id %}" class="btn btn-success" title="View">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    <a href="{% url 'auth_remove_notification' notif.id %}" class="btn btn-danger" title="remove">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
