{% extends "public/base.html" %}
{% load staticfiles %}

{% block title %}Alliance Auth{% endblock %}

{% block page_title %}Fleet Operation Management{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">Fleet Operation Timers
            <div class="text-right">
                <a href="{% url 'auth_add_optimer_view' %}">
                    {% if perms.auth.optimer_management %}
                        <button type="button" class="btn btn-success">Create Operation</button>
                    {% endif %}
                </a>
            </div>
        </h1>
     <div class="col-lg-12 text-center">
        <div class="label label-info text-left">
            <b>Current Eve Time: </b>
        </div><div class="label label-info text-left" id="current-time"></div>
        <br/>
     </div>
        <table class="table table-responsive table-bordered">
            <tr>
                <th class="text-center">Operation Name</th>
		<th class="text-center">Doctrine</th>
                <th class="text-center">Form Up System</th>
                <th class="text-center">Form Up Location</th>
                <th class="text-center">Start Time</th>
                <th class="text-center">Local Time</th>
		<th class="text-center">Duration</th>
                <th class="text-center">FC</th>
                <th class="text-center">Details</th>
		<th class="text-center">Post Time</th>
		{% if perms.auth.optimer_management %}
                	<th class="text-center">Creator</th>
		        <th class="text-center">Action</th>
                {% endif %}
            </tr>
            	              
                {% for ops in optimer %}
                	<tr>
                	<td style="width:150px" class="text-center">{{ ops.operation_name }}</td>
                	<td style="width:150px" class="text-center">{{ ops.doctrine }}</td>
                	<td class="text-center">
                	<a href="http://evemaps.dotlan.net/system/{{ ops.system }}">{{ ops.system }}</a>
                	</td>
                	<td style="width:150px" class="text-center">{{ ops.location }}</td>
                	<td style="width:150px" class="text-center" nowrap>{{ ops.start | date:"Y-m-d H:i" }}</td>
                	<td class="text-center" nowrap><div id="countdown{{ ops.id }}"></div></td>
		        <td style="width:150px" class="text-center">{{ ops.duration }}</td>
		        <td style="width:150px" class="text-center">{{ ops.fc }}</td>
                	<td style="width:150px" class="text-center">{{ ops.details }}</td>
                	<td style="width:150px" class="text-center">{{ ops.post_time}}</td>   			 
                {% if perms.auth.optimer_management %}
                	<td style="width:150px" class="text-center">{{ ops.eve_character }}</td>
                    	<td class="text-center">
                        <a href="/remove_optimer/{{ ops.id }}">
                            <button type="button" class="btn btn-danger"><span
                                    class="glyphicon glyphicon-remove"></span></button>
                        </a>
                	<a href="/edit_optimer/{{ ops.id }}">
                           <button type="button" class="btn btn-info"><span
                                   class="glyphicon glyphicon-pencil"></span></button>
                	</a>
                	</td>
              
              
              {% endif %}
              </tr>
              {% endfor %}
            </tr>
        </table>

        
    </div>

<script src="/static/js/dateformat.js"></script>
<script src="/static/js/countdown.js"></script>
<script>

{% for ops in optimer %}var clock{{ ops.id }} = document.getElementById("countdown{{ ops.id }}"), targetDate{{ ops.id }} = new Date(Date.UTC({{ ops.start | date:"Y, m-1, d, H, i" }}));{% endfor %}
{% for ops in optimer %}setInterval(function(){clock{{ ops.id }}.innerHTML = targetDate{{ ops.id }}.format('D @ h:ia'); if (targetDate{{ ops.id }} > Date.now()){ clock{{ ops.id }}.innerHTML = clock{{ ops.id }}.innerHTML + "<BR>" + countdown(targetDate{{ ops.id }}).toString();}}, 1000);{% endfor %}

setInterval(function(){updateClock()}, 1000);

function updateClock() {
  var clock = new Date();
  document.getElementById("current-time").innerHTML = "<b>" + clock.toUTCString() + "</b>";
}

</script>

{% endblock content %}
