{% extends "public/base.html" %}
{% load staticfiles %}

{% block title %}Alliance Auth{% endblock %}

{% block page_title %}Services Management{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <div class="col-lg-12">
    <h1 class="page-header text-center">Available Services</h1>
    {% if perms.auth.blue_member %}
        <table class="table table-bordered">
            <tr>
                <th class="text-center">Service</th>
                <th class="text-center">Username</th>
                <th class="text-center">Password</th>
                <th class="text-center">Domain</th>
                <th class="text-center">Action</th>
            </tr>
            {% if ENABLE_BLUE_FORUM %}
                <td class="text-center">Forums</td>
                <td class="text-center">{{ authinfo.forum_username }}</td>
                <td class="text-center">{{ authinfo.forum_password }}</td>
                <td class="text-center"><a href="{{ FORUM_URL }}">{{ FORUM_URL }}</a></td>
                <td class="text-center">
                    {% ifequal authinfo.forum_username "" %}
                        <a href="{% url 'auth_activate_forum' %}">
                            <button type="button" class="btn btn-warning"><span
                                    class="glyphicon glyphicon-ok"></span></button>
                        </a>
                    {% else %}
                        <a href="{% url 'auth_set_forum_password' %}">
                            <button type="button" class="btn btn-warning"><span
                                    class="glyphicon glyphicon-pencil"></span></button>
                        </a>
                        <a href="{% url 'auth_reset_forum_password' %}">
                            <button type="button" class="btn btn-primary"><span
                                    class="glyphicon glyphicon-refresh"></span></button>
                        </a>
                        <a href="{% url 'auth_deactivate_forum' %}">
                            <button type="button" class="btn btn-danger"><span
                                    class="glyphicon glyphicon-remove"></span></button>
                        </a>
                    {% endifequal %}
                </td>
            {% endif %}
            {% if ENABLE_BLUE_SMF %}
                <td class="text-center">SMF Forums</td>
                <td class="text-center">{{ authinfo.smf_username }}</td>
                <td class="text-center">{{ authinfo.smf_password }}</td>
                <td class="text-center"><a href="{{ SMF_URL }}">{{ SMF_URL }}</a></td>
                <td class="text-center">
                    {% ifequal authinfo.smf_username "" %}
                        <a href="{% url 'auth_activate_smf' %}">
                            <button type="button" class="btn btn-warning"><span
                                    class="glyphicon glyphicon-ok"></span></button>
                        </a>
                    {% else %}
                        <a href="{% url 'auth_set_smf_password' %}">
                            <button type="button" class="btn btn-warning"><span
                                    class="glyphicon glyphicon-pencil"></span></button>
                        </a>
                        <a href="{% url 'auth_reset_smf_password' %}">
                            <button type="button" class="btn btn-primary"><span
                                    class="glyphicon glyphicon-refresh"></span></button>
                        </a>
                        <a href="{% url 'auth_deactivate_smf' %}">
                            <button type="button" class="btn btn-danger"><span
                                    class="glyphicon glyphicon-remove"></span></button>
                        </a>
                    {% endifequal %}
                </td>
            {% endif %}
            {% if ENABLE_BLUE_IPBOARD %}
                <td class="text-center">IPBoard Forums</td>
                <td class="text-center">{{ authinfo.ipboard_username }}</td>
                <td class="text-center">{{ authinfo.ipboard_password }}</td>
                <td class="text-center"><a href="{{ FORUM_URL }}">{{ FORUM_URL }}</a></td>
                <td class="text-center">
                    {% ifequal authinfo.ipboard_username "" %}
                        <a href="{% url 'auth_activate_ipboard' %}">
                            <button type="button" class="btn btn-warning"><span
                                    class="glyphicon glyphicon-ok"></span></button>
                        </a>
                    {% else %}
                        <a href="{% url 'auth_set_ipboard_password' %}">
                            <button type="button" class="btn btn-warning"><span
                                    class="glyphicon glyphicon-pencil"></span></button>
                        </a>
                        <a href="{% url 'auth_reset_ipboard_password' %}">
                            <button type="button" class="btn btn-primary"><span
                                    class="glyphicon glyphicon-refresh"></span></button>
                        </a>
                        <a href="{% url 'auth_deactivate_ipboard' %}">
                            <button type="button" class="btn btn-danger"><span
                                    class="glyphicon glyphicon-remove"></span></button>
                        </a>
                    {% endifequal %}
                </td>
            {% endif %}
            {% if ENABLE_BLUE_JABBER %}
                <tr>
                    <td class="text-center">Jabber</td>
                    <td class="text-center">{{ authinfo.jabber_username }}</td>
                    <td class="text-center">{{ authinfo.jabber_password }}</td>
                    <td class="text-center">{{ JABBER_URL }}</td>
                    <td class="text-center">
                        {% ifequal authinfo.jabber_username "" %}
                            <a href="{% url 'auth_activate_jabber' %}">
                                <button type="button" class="btn btn-warning"><span
                                        class="glyphicon glyphicon-ok"></span></button>
                            </a>
                        {% else %}
                            <a href="{% url 'auth_set_jabber_password' %}">
                                <button type="button" class="btn btn-warning"><span
                                        class="glyphicon glyphicon-pencil"></span></button>
                            </a>
                            <a href="{% url 'auth_reset_jabber_password' %}">
                                <button type="button" class="btn btn-primary"><span
                                        class="glyphicon glyphicon-refresh"></span></button>
                            </a>
                            <a href="{% url 'auth_deactivate_jabber' %}">
                                <button type="button" class="btn btn-danger"><span
                                        class="glyphicon glyphicon-remove"></span></button>
                            </a>
                        {% endifequal %}
                    </td>
                </tr>
            {% endif %}
            {% if ENABLE_BLUE_MUMBLE %}
                <tr>
                    <td class="text-center">Mumble</td>
                    <td class="text-center">{{ authinfo.mumble_username }}</td>
                    <td class="text-center">{{ authinfo.mumble_password }}</td>
                    <td class="text-center">{{ MUMBLE_URL }}</td>
                    <td class="text-center">
                        {% ifequal authinfo.mumble_username "" %}
                            <a href="{% url 'auth_activate_mumble' %}">
                                <button type="button" class="btn btn-warning"><span
                                        class="glyphicon glyphicon-ok"></span></button>
                            </a>
                        {% else %}
                            <a href="{% url 'auth_set_mumble_password' %}">
                                <button type="button" class="btn btn-warning"><span
                                        class="glyphicon glyphicon-pencil"></span></button>
                            </a>
                            <a href="{% url 'auth_reset_mumble_password' %}">
                                <button type="button" class="btn btn-primary"><span
                                        class="glyphicon glyphicon-refresh"></span></button>
                            </a>
                            <a href="{% url 'auth_deactivate_mumble' %}">
                                <button type="button" class="btn btn-danger"><span
                                        class="glyphicon glyphicon-remove"></span></button>
                            </a>
                        {% endifequal %}
                    </td>
                </tr>
            {% endif %}
            {% if ENABLE_BLUE_IPS4 %}
                <td class="text-center">IPS4</td>
                <td class="text-center">{{ authinfo.ips4_username }}</td>
                <td class="text-center">{{ authinfo.ips4_password }}</td>
                <td class="text-center"><a href="{{ IPS4_URL }}">{{ IPS4_URL }}</a></td>
                <td class="text-center">
                    {% ifequal authinfo.ips4_username "" %}
                        <a href="{% url 'auth_activate_ips4' %}">
                            <button type="button" class="btn btn-warning"><span
                                    class="glyphicon glyphicon-ok"></span></button>
                        </a>
                    {% else %}
                        <a href="{% url 'auth_set_ips4_password' %}">
                            <button type="button" class="btn btn-warning"><span
                                    class="glyphicon glyphicon-pencil"></span></button>
                        </a>
                        <a href="{% url 'auth_reset_ips4_password' %}">
                            <button type="button" class="btn btn-primary"><span
                                    class="glyphicon glyphicon-refresh"></span></button>
                        </a>
                        <a href="{% url 'auth_deactivate_ips4' %}">
                            <button type="button" class="btn btn-danger"><span
                                    class="glyphicon glyphicon-remove"></span></button>
                        </a>
                    {% endifequal %}
                </td>
            {% endif %}
            {% if ENABLE_BLUE_DISCORD %}
                <tr>
                    <td class="text-center">Discord</td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"><a href="https://discordapp.com/channels/{{ DISCORD_SERVER_ID }}/{{ DISCORD_SERVER_ID}}">https://discordapp.com</a></td>
                    <td class="text-center">
                        {% ifequal authinfo.discord_uid "" %}
                            <a href="{% url 'auth_activate_discord' %}">
                                <button type="button" class="btn btn-warning"><span
                                        class="glyphicon glyphicon-ok"></span></button>
                            </a>
                        {% else %}
                            <a href="{% url 'auth_reset_discord' %}">
                                <button type="button" class="btn btn-primary"><span
                                        class="glyphicon glyphicon-refresh"></span></button>
                            </a>
                            <a href="{% url 'auth_deactivate_discord' %}">
                                <button type="button" class="btn btn-danger"><span
                                        class="glyphicon glyphicon-remove"></span></button>
                            </a>
                        {% endifequal %}
                    </td>
                </tr>
            {% endif %}
            {% if ENABLE_BLUE_TEAMSPEAK3 %}
                <tr>
                    <th class="text-center">Service</th>
                    <th class="text-center">Unique ID</th>
                    <th class="text-center">PermissionKey</th>
                    <th class="text-center">Quick Link</th>
                    <th class="text-center">Action</th>
                </tr>
                <tr>
                    <td class="text-center">Teamspeak 3</td>
                    <td class="text-center">{{ authinfo.teamspeak3_uid }}</td>
                    <td class="text-center">{{ authinfo.teamspeak3_perm_key }}</td>
                    <td class="text-center">
                        {% ifequal authinfo.teamspeak3_uid "" %}
                        {% else %}
                            <a href="ts3server://{{ TEAMSPEAK3_PUBLIC_URL }}?token={{ authinfo.teamspeak3_perm_key }}&nickname={{ authinfo.teamspeak3_uid }}">Teamspeak3
                                Link</a>
                        {% endifequal %}
                    </td>
                    <td class="text-center">
                        {% ifequal authinfo.teamspeak3_uid "" %}
                            <a href="{% url 'auth_activate_teamspeak3' %}">
                                <button type="button" class="btn btn-warning"><span
                                        class="glyphicon glyphicon-ok"></span></button>
                            </a>
                        {% else %}
                            <a href="{% url 'auth_verify_teamspeak3' %}" class="btn btn-success" title="Verify"><span class="glyphicon glyphicon-log-in"></a>
                            <a href="{% url 'auth_reset_teamspeak3_perm' %}">
                                <button type="button" class="btn btn-primary"><span
                                        class="glyphicon glyphicon-refresh"></span></button>
                            </a>
                            <a href="{% url 'auth_deactivate_teamspeak3' %}">
                                <button type="button" class="btn btn-danger"><span
                                        class="glyphicon glyphicon-remove"></span></button>
                            </a>
                        {% endifequal %}
                    </td>
                </tr>
            {% endif %}
        </table>
    {% elif perms.auth.member %}
        <table class="table table-bordered">
            <tr>
                <th class="text-center">Service</th>
                <th class="text-center">Username</th>
                <th class="text-center">Password</th>
                <th class="text-center">Domain</th>
                <th class="text-center">Action</th>
            </tr>
            {% if ENABLE_AUTH_FORUM %}
                <tr>
                    <td class="text-center">Forums</td>
                    <td class="text-center">{{ authinfo.forum_username }}</td>
                    <td class="text-center">{{ authinfo.forum_password }}</td>
                    <td class="text-center"><a href="{{ FORUM_URL }}">{{ FORUM_URL }}</a></td>
                    <td class="text-center">
                        {% ifequal authinfo.forum_username "" %}
                            <a href="{% url 'auth_activate_forum' %}">
                                <button type="button" class="btn btn-warning"><span
                                        class="glyphicon glyphicon-ok"></span></button>
                            </a>
                        {% else %}
                            <a href="{% url 'auth_set_forum_password' %}">
                                <button type="button" class="btn btn-warning"><span
                                        class="glyphicon glyphicon-pencil"></span></button>
                            </a>
                            <a href="{% url 'auth_reset_forum_password' %}">
                                <button type="button" class="btn btn-primary"><span
                                        class="glyphicon glyphicon-refresh"></span></button>
                            </a>
                            <a href="{% url 'auth_deactivate_forum' %}">
                                <button type="button" class="btn btn-danger"><span
                                        class="glyphicon glyphicon-remove"></span></button>
                            </a>
                        {% endifequal %}
                    </td>
                </tr>
            {% endif %}
            {% if ENABLE_AUTH_SMF %}
                <tr>
                    <td class="text-center">SMF Forums</td>
                    <td class="text-center">{{ authinfo.smf_username }}</td>
                    <td class="text-center">{{ authinfo.smf_password }}</td>
                    <td class="text-center"><a href="{{ SMF_URL }}">{{ SMF_URL }}</a></td>
                    <td class="text-center">
                        {% ifequal authinfo.smf_username "" %}
                            <a href="{% url 'auth_activate_smf' %}">
                                <button type="button" class="btn btn-warning"><span
                                        class="glyphicon glyphicon-ok"></span></button>
                            </a>
                        {% else %}
                            <a href="{% url 'auth_set_smf_password' %}">
                                <button type="button" class="btn btn-warning"><span
                                        class="glyphicon glyphicon-pencil"></span></button>
                            </a>
                            <a href="{% url 'auth_reset_smf_password' %}">
                                <button type="button" class="btn btn-primary"><span
                                        class="glyphicon glyphicon-refresh"></span></button>
                            </a>
                            <a href="{% url 'auth_deactivate_smf' %}">
                                <button type="button" class="btn btn-danger"><span
                                        class="glyphicon glyphicon-remove"></span></button>
                            </a>
                        {% endifequal %}
                    </td>
                </tr>
            {% endif %}
            {% if ENABLE_AUTH_IPBOARD %}
                <td class="text-center">IPBoard Forums</td>
                <td class="text-center">{{ authinfo.ipboard_username }}</td>
                <td class="text-center">{{ authinfo.ipboard_password }}</td>
                <td class="text-center"><a href="{{ FORUM_URL }}">{{ FORUM_URL }}</a></td>
                <td class="text-center">
                    {% ifequal authinfo.ipboard_username "" %}
                        <a href="{% url 'auth_activate_ipboard' %}">
                            <button type="button" class="btn btn-warning"><span
                                    class="glyphicon glyphicon-ok"></span></button>
                        </a>
                    {% else %}
                        <a href="{% url 'auth_set_ipboard_password' %}">
                            <button type="button" class="btn btn-warning"><span
                                    class="glyphicon glyphicon-pencil"></span></button>
                        </a>
                        <a href="{% url 'auth_reset_ipboard_password' %}">
                            <button type="button" class="btn btn-primary"><span
                                    class="glyphicon glyphicon-refresh"></span></button>
                        </a>
                        <a href="{% url 'auth_deactivate_ipboard' %}">
                            <button type="button" class="btn btn-danger"><span
                                    class="glyphicon glyphicon-remove"></span></button>
                        </a>
                    {% endifequal %}
                </td>
            {% endif %}
            {% if ENABLE_AUTH_JABBER %}
                <tr>
                    <td class="text-center">Jabber</td>
                    <td class="text-center">{{ authinfo.jabber_username }}</td>
                    <td class="text-center">{{ authinfo.jabber_password }}</td>
                    <td class="text-center">{{ JABBER_URL }}</td>
                    <td class="text-center">
                        {% ifequal authinfo.jabber_username "" %}
                            <a href="{% url 'auth_activate_jabber' %}">
                                <button type="button" class="btn btn-warning"><span
                                        class="glyphicon glyphicon-ok"></span></button>
                            </a>
                        {% else %}
                            <a href="{% url 'auth_set_jabber_password' %}">
                                <button type="button" class="btn btn-warning"><span
                                        class="glyphicon glyphicon-pencil"></span></button>
                            </a>
                            <a href="{% url 'auth_reset_jabber_password' %}">
                                <button type="button" class="btn btn-primary"><span
                                        class="glyphicon glyphicon-refresh"></span></button>
                            </a>
                            <a href="{% url 'auth_deactivate_jabber' %}">
                                <button type="button" class="btn btn-danger"><span
                                        class="glyphicon glyphicon-remove"></span></button>
                            </a>
                        {% endifequal %}
                    </td>
                </tr>
            {% endif %}
            {% if ENABLE_AUTH_MUMBLE %}
                <tr>
                    <td class="text-center">Mumble</td>
                    <td class="text-center">{{ authinfo.mumble_username }}</td>
                    <td class="text-center">{{ authinfo.mumble_password }}</td>
                    <td class="text-center">{{ MUMBLE_URL }}</td>
                    <td class="text-center">
                        {% ifequal authinfo.mumble_username "" %}
                            <a href="{% url 'auth_activate_mumble' %}">
                                <button type="button" class="btn btn-warning"><span
                                        class="glyphicon glyphicon-ok"></span></button>
                            </a>
                        {% else %}
                            <a href="{% url 'auth_set_mumble_password' %}">
                                <button type="button" class="btn btn-warning"><span
                                        class="glyphicon glyphicon-pencil"></span></button>
                            </a>
                            <a href="{% url 'auth_reset_mumble_password' %}">
                                <button type="button" class="btn btn-primary"><span
                                        class="glyphicon glyphicon-refresh"></span></button>
                            </a>
                            <a href="{% url 'auth_deactivate_mumble' %}">
                                <button type="button" class="btn btn-danger"><span
                                        class="glyphicon glyphicon-remove"></span></button>
                            </a>
                        {% endifequal %}
                    </td>
                </tr>
            {% endif %}
            {% if ENABLE_AUTH_IPS4 %}
                <td class="text-center">IPS4</td>
                <td class="text-center">{{ authinfo.ips4_username }}</td>
                <td class="text-center">{{ authinfo.ips4_password }}</td>
                <td class="text-center"><a href="{{ IPS4_URL }}">{{ IPS4_URL }}</a></td>
                <td class="text-center">
                    {% ifequal authinfo.ips4_username "" %}
                        <a href="{% url 'auth_activate_ips4' %}">
                            <button type="button" class="btn btn-warning"><span
                                    class="glyphicon glyphicon-ok"></span></button>
                        </a>
                    {% else %}
                        <a href="{% url 'auth_set_ips4_password' %}">
                            <button type="button" class="btn btn-warning"><span
                                    class="glyphicon glyphicon-pencil"></span></button>
                        </a>
                        <a href="{% url 'auth_reset_ips4_password' %}">
                            <button type="button" class="btn btn-primary"><span
                                    class="glyphicon glyphicon-refresh"></span></button>
                        </a>
                        <a href="{% url 'auth_deactivate_ips4' %}">
                            <button type="button" class="btn btn-danger"><span
                                    class="glyphicon glyphicon-remove"></span></button>
                        </a>
                    {% endifequal %}
                </td>
            {% endif %}
            {% if ENABLE_AUTH_DISCORD %}
                <tr>
                    <td class="text-center">Discord</td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"><a href="https://discordapp.com/channels/{{ DISCORD_SERVER_ID }}/{{ DISCORD_SERVER_ID}}">https://discordapp.com</a></td>
                    <td class="text-center">
                        {% ifequal authinfo.discord_uid "" %}
                            <a href="{% url 'auth_activate_discord' %}">
                                <button type="button" class="btn btn-warning"><span
                                        class="glyphicon glyphicon-ok"></span></button>
                            </a>
                        {% else %}
                            <a href="{% url 'auth_reset_discord' %}">
                                <button type="button" class="btn btn-primary"><span
                                        class="glyphicon glyphicon-refresh"></span></button>
                            </a>
                            <a href="{% url 'auth_deactivate_discord' %}">
                                <button type="button" class="btn btn-danger"><span
                                        class="glyphicon glyphicon-remove"></span></button>
                            </a>
                        {% endifequal %}
                    </td>
                </tr>
            {% endif %}
            {% if ENABLE_AUTH_TEAMSPEAK3 %}
                <tr>
                    <th class="text-center">Service</th>
                    <th class="text-center">Unique ID</th>
                    <th class="text-center">PermissionKey</th>
                    <th class="text-center">Quick Link</th>
                    <th class="text-center">Action</th>
                </tr>
                <tr>
                    <td class="text-center">Teamspeak 3</td>
                    <td class="text-center">{{ authinfo.teamspeak3_uid }}</td>
                    <td class="text-center">{{ authinfo.teamspeak3_perm_key }}</td>
                    <td class="text-center">
                        {% ifequal authinfo.teamspeak3_uid "" %}
                        {% else %}
                            <a href="ts3server://{{ TEAMSPEAK3_PUBLIC_URL }}?token={{ authinfo.teamspeak3_perm_key }}&nickname={{ authinfo.teamspeak3_uid }}">Teamspeak3
                                Link</a>
                        {% endifequal %}
                    </td>
                    <td class="text-center">
                        {% ifequal authinfo.teamspeak3_uid "" %}
                            <a href="{% url 'auth_activate_teamspeak3' %}">
                                <button type="button" class="btn btn-warning"><span
                                        class="glyphicon glyphicon-ok"></span></button>
                            </a>
                        {% else %}
                            <a href="{% url 'auth_verify_teamspeak3' %}" class="btn btn-success" title="Verify"><span class="glyphicon glyphicon-log-in"></a>
                            <a href="{% url 'auth_reset_teamspeak3_perm' %}">
                                <button type="button" class="btn btn-primary"><span
                                        class="glyphicon glyphicon-refresh"></span></button>
                            </a>
                            <a href="{% url 'auth_deactivate_teamspeak3' %}">
                                <button type="button" class="btn btn-danger"><span
                                        class="glyphicon glyphicon-remove"></span></button>
                            </a>
                        {% endifequal %}
                    </td>
                </tr>
            {% endif %}
        </table>
    {% else %}
        {% if IS_CORP %}
            <div class="alert alert-danger" role="alert">You are not in the corporation.</div>
        {% else %}
            <div class="alert alert-danger" role="alert">You are not in the alliance.</div>
        {% endif %}
    {% endif %}
    </div>

{% endblock content %}
