{% extends "public/base.html" %}
{% load staticfiles %}

{% block page_title %}Credentials{% endblock page_title %}
{% block title %}Credentials{% endblock title%}
{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">{{ service }} Credentials</h1>
        <div class="container-fluid">
            <div class="col-lg-4 col-lg-offset-4">
                <form class="form-signin">
                    {% for key, value in credentials.items %}
                        <div class="form-group">
                            <label class="control-label" for="id_{{ key }}">{{ key|capfirst }}</label>
                            <input class="form-control" value="{{ value }}" readonly>
                        </div>
                    {% endfor %}
                </form>
                <a href="{% url 'auth_services' %}" class="btn btn-lg btn-block btn-primary" title="Continue">Continue</a>
            </div>
        </div>
    </div>
{% endblock %}
