{% extends "public/base.html" %}
{% load staticfiles %}

{% block title %}Alliance Auth{% endblock %}

{% block page_title %}Wormhole Signature Management{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">Wormhole Signatures
            <div class="text-right">
                <a href="{% url 'auth_add_signature_view' %}">
                    {% if perms.auth.signature_management %}
                        <button type="button" class="btn btn-success">Create Signature</button>
                    {% endif %}
                </a>
            </div>
        </h1>
        <table class="table table-responsive table-bordered">
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">System</th>
                <th class="text-center">Destination</th>
		<th class="text-center">Goes Through</th>
                <th class="text-center">Lifetime Status</th>
		<th class="text-center">Mass Status</th>
		<th class="text-center">Ship Size</th>
                <th class="text-center">Notes</th>
		<th class="text-center">Post Time</th>
		{% if perms.auth.signature_management %}
                   <th class="text-center">Creator</th> 
		   <th class="text-center">Action</th>
                {% endif %}
            </tr>
            	              
                {% for sigt in sigtracker %}
                <tr>
                <td style="width:150px" class="text-center">{{ sigt.ident }}</td>
                
                <td class="text-center">
                <a href="http://evemaps.dotlan.net/system/{{ sigt.system }}">{{ sigt.system }}</a>
                </td>
                <td style="width:150px" class="text-center">{{ sigt.destination }}</td>
                <td style="width:150px" class="text-center">{{ sigt.through_dest }}</td>
                <td style="width:150px" class="text-center">{{ sigt.lifetime_status }}</td>
                <td style="width:150px" class="text-center">{{ sigt.mass_status }}</td>
                <td style="width:150px" class="text-center">{{ sigt.ships_size }}</td>
		<td style="width:150px" class="text-center">{{ sigt.status }}</td>
		<td style="width:150px" class="text-center">{{ sigt.notes }}</td>
                <td style="width:150px" class="text-center">{{ sigt.post_time}}</td>
                {% if perms.auth.signature_management %}
                <td style="width:150px" class="text-center">{{ sigt.eve_character }}</td>
                <td class="text-center">
                	<a href="/remove_signature/{{ sigt.id }}">
                            <button type="button" class="btn btn-danger"><span
                                    class="glyphicon glyphicon-remove"></span></button>
                        </a>
                    <a href="/edit_signature/{{ sigt.id }}">
                            <button type="button" class="btn btn-info"><span
                                    class="glyphicon glyphicon-pencil"></span></button>
                       </a>
                    	</td>
                
              
		{% endif %}
		</tr>
              {% endfor %}
            </tr>
        </table>

        
    </div>




{% endblock content %}
