{% extends "public/base.html" %}
{% load staticfiles %}

{% block title %}Alliance Auth{% endblock %}

{% block page_title %}Signiture Tracker{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body  bgcolor="silver">
        

        <div align="center"> 
            <form action="form1.php" method="post">
                <p>System: <input type="text" name="sys"/>
                 Id: <input type="text" name="id" />
                Type:
                    <select name="type">
                    <option value="Wormhole">Wormhole</option>
                    <option value="Combat">Combat</option>
                    <option value="Data">Data</option>
                    <option value="Relic">Relic</option></select>
            
                Name: <input type="text" name="name"/>
                Status:
                                <select name="status">
                    <option value="Open">Open</option>
                    <option value="Started">Stared</option>
                    <option value="Finished">Finished</option>
                    <option value="Other">Other</option>
                    <option value="Hisec">Hisec</option>
                    <option value="LoSec">LoSec</option>
                    <option value="NullSec">NullSec</option></select>
                Notes: <input type="text" name="notes" />
                <input type="Submit" name="Submit" value="Submit" /></p>
            </form>
        </div> 
</html>    

{% endblock content %}
