{% extends "public/base.html" %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}

{% load humanize %}
{% block title %}Alliance Auth{% endblock %}

{% block page_title %}Srp Fleet Data{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <div class="col-lg-12">
        <div class="row">
            <h1 class="page-header text-center">{% trans "SRP Fleet Data" %}
                <div class="text-right">
                    {% if perms.auth.srp_management %}
                        {% if fleet_status == "Completed" %}
                            <a href="{% url 'auth_srp_fleet_mark_uncompleted' fleet_id %}" class="btn btn-warning">
                                {% trans "Mark Incomplete" %}
                            </a>
                        {% else %}
                            <a href="{% url 'auth_srp_fleet_mark_completed' fleet_id %}" class="btn btn-success">
                                {% trans "Mark Completed" %}
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </h1>
            <div class="alert alert-info" role="alert">
                <div class="text-right">
                    <b>{% trans "Total Losses:" %} {{ srpfleetrequests.count }}</b>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <b>{% trans "Total ISK Cost:" %} {{ totalcost | intcomma }}</b>
                </div>
            </div>
            <table class="table table-bordered">
                <tr>
                    <th class="text-center">{% trans "Pilot Name" %}</th>
                    <th class="text-center">{% trans "Killboard Link" %}</th>
                    <th class="text-center">{% trans "Additional Info" %}</th>
                    <th class="text-center">{% trans "Ship Type" %}</th>
                    <th class="text-center">{% trans "Killboard Loss Amt" %}</th>
                    <th class="text-center">{% trans "SRP ISK Cost" %}</th>
                    <th class="text-center">{% trans "Post Time" %}</th>
                    <th class="text-center">{% trans "Status" %}</th>
                    {% if perms.auth.srp_management %}
                        <th class="text-center">{% trans "Actions" %}</th>
                    {% endif %}
                </tr>
                {% for srpfleetrequest in srpfleetrequests %}
                    <tr>
                        <td class="text-center">
                            <div class="label label-info">
                                {{ srpfleetrequest.character.character_name }}
                            </div>
                        </td>
                        <td class="text-center">
                            <a href="{{ srpfleetrequest.killboard_link }}"
                               target="_blank">{{ srpfleetrequest.killboard_link }}</a>
                        </td>
                        <td class="text-center">{{ srpfleetrequest.additional_info }}</td>
                        <td class="text-center">{{ srpfleetrequest.srp_ship_name }}</td>
                        <td class="text-center">ISK: {{ srpfleetrequest.kb_total_loss | intcomma }}</td>
                        <td class="text-center">ISK: {{ srpfleetrequest.srp_total_amount | intcomma }}</td>
                        <td class="text-center">{{ srpfleetrequest.post_time | date:"Y-m-d H:i" }}</td>
                        <td class="text-center">
                            {% if srpfleetrequest.srp_status == "Approved" %}
                                <div class="label label-success">
                                    {% trans "Approved" %}
                                </div>
                            {% elif srpfleetrequest.srp_status == "Rejected" %}
                                <div class="label label-danger">
                                    {% trans "Rejected" %}
                                </div>
                            {% else %}
                                <div class="label label-warning">
                                    {% trans "Pending" %}
                                </div>
                            {% endif %}
                        </td>
                        {% if perms.auth.srp_management %}

                            <td class="text-center">
                                <a href="{% url 'auth_srp_request_update_amount_view' srpfleetrequest.id %}" class="btn btn-info">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                {% if srpfleetrequest.srp_status == "Rejected" %}
                                    <a href="{% url 'auth_srp_request_approve' srpfleetrequest.id %}" class="btn btn-success">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </a>
                                {% elif srpfleetrequest.srp_status == "Pending" %}
                                    <a href="{% url 'auth_srp_request_approve' srpfleetrequest.id %}" class="btn btn-success">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </a>
                                {% elif srpfleetrequest.srp_status == "" %}
                                    <a href="{% url 'auth_srp_request_approve' srpfleetrequest.id %}" class="btn btn-success">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </a>
                                {% endif %}
                                {% if srpfleetrequest.srp_status == "Approved" %}
                                    <a href="{% url 'auth_srp_request_reject' srpfleetrequest.id %}" class="btn btn-warning">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                {% elif srpfleetrequest.srp_status == "Pending" %}
                                    <a href="{% url 'auth_srp_request_reject' srpfleetrequest.id %}" class="btn btn-warning">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                {% elif srpfleetrequest.srp_status == "" %}
                                    <a href="{% url 'auth_srp_request_reject' srpfleetrequest.id %}" class="btn btn-warning">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                {% endif %}
                                <a href="{% url 'auth_srp_request_remove' srpfleetrequest.id %}" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-trash"></span>
                                </a>

                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock content %}
