{% extends "public/base.html" %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}

{% load humanize %}
{% block title %}Alliance Auth{% endblock %}

{% block page_title %}{% trans "Srp Management" %}{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <div class="col-lg-12">
        <div class="row">
            <h1 class="page-header text-center">{% trans "SRP Management" %}
                <div class="text-right">
                    {% if perms.auth.srp_management %}
                        <a href="{% url 'auth_srp_management_all_view' %}" class="btn btn-primary">
                            {% trans "View All" %}
                        </a>
                        <a href="{% url 'auth_srp_fleet_add_view' %}" class="btn btn-success">
                            {% trans "Add SRP Fleet" %}
                        </a>
                    {% endif %}
                </div>
            </h1>
            <div class="alert alert-info" role="alert">
                <div class="text-right">
                    <b>{% trans "Total ISK Cost:" %} {{ totalcost | intcomma }}</b>
                </div>
            </div>
            <table class="table table-bordered">
                <tr>
                    <th class="text-center">{% trans "Fleet Name" %}</th>
                    <th class="text-center">{% trans "Fleet Time" %}</th>
                    <th class="text-center">{% trans "Fleet Doctrine" %}</th>
                    <th class="text-center">{% trans "Fleet Commander" %}</th>
                    <th class="text-center">{% trans "Fleet AAR" %}</th>
                    <th class="text-center">{% trans "Fleet SRP Code" %}</th>
                    <th class="text-center">{% trans "Fleet ISK Cost" %}</th>
                    <th class="text-center">{% trans "SRP Status" %}</th>
                    <th class="text-center">{% trans "Actions" %}</th>
                </tr>
                {% for srpfleet in srpfleets %}
                    <tr>
                        <td class="text-center">
                            <div class="label label-info">
                                {{ srpfleet.fleet_name }}
                            </div>
                        </td>
                        <td class="text-center">{{ srpfleet.fleet_time | date:"Y-m-d H:i" }}</td>
                        <td class="text-center">{{ srpfleet.fleet_doctrine }}</td>
                        <td class="text-center">
                            <div class="label label-success">
                                {{ srpfleet.fleet_commander.character_name }}
                            </div>
                        </td>
                        <th class="text-center"><a href="{{ srpfleet.fleet_srp_aar_link }}"
                                                   target="_blank">{{ srpfleet.fleet_srp_aar_link }}</a></th>
                        <th class="text-center">
                            {% if srpfleet.fleet_srp_code %}
                            <div class="label label-warning">
                                <a href="{% url 'auth_srp_request_view' srpfleet.fleet_srp_code %}"
                                   >{{ srpfleet.fleet_srp_code }}</a>
                            </div>
                            {% else %}
                                <div class="label label-danger">
                                    {% trans "Disabled" %}
                                </div>
                            {% endif %}
                        </th>
                        <td class="text-center">
                            {% for key,value in price_pair.items %}
                                {% if key == srpfleet.id %}
                                    ISK: {{ value | intcomma }}
                                {% endif %}
                            {% endfor %}
                        </td>

                        <td class="text-center">
                            {% if srpfleet.fleet_srp_status == "" %}
                                <div class="label label-warning">
                                    {% trans "Pending" %}
                                </div>
                            {% else %}
                                <div class="label label-success">
                                    {% trans "Completed" %}
                                </div>
                            {% endif %}
                        </td>
                        <td class="text-center">

                            <a href="{% url 'auth_srp_fleet_view' srpfleet.id %}" class="btn btn-primary">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>

                            {% if perms.auth.srp_management %}
                                <a href="{% url 'auth_srp_fleet_edit_view' srpfleet.id %}" class="btn btn-info">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>

                                <a href="{% url 'auth_srp_fleet_remove' srpfleet.id %}" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                                {% if srpfleet.fleet_srp_code %}
                                    <a href="{% url 'auth_srp_fleet_disable' srpfleet.id %}" class="btn btn-warning">
                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                    </a>
                                {% else %}
                                    <a href="{% url 'auth_srp_fleet_enable' srpfleet.id %}" class="btn btn-success">
                                        <span class="glyphicon glyphicon-ok-sign"></span>
                                    </a>
                                {% endif %}

                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock content %}
